{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/connexion.css' %}">
    <link rel="icon" href="{% static 'images/Logo EcoNova.png' %}">
</head>
<body>
    <section class="connexion">
    <a href="/members" class="retour"><img src="{% static 'images/retour.svg' %}" alt=""></a>
        <div class="form">
            <div class="logo">
                  <a href="/members"><img src="{% static 'images/Logo EcoNova.png' %}" alt="Logo ÉcoNova Finance"></a>
                  <h2>EcoNova</h2>
            </div>
            <h2>Connecte-toi</h2>
            <h3>Tu n’as pas encore de compte? <a href="/members/rejoindre" style="color: #0051FF">Crée un compte</a></h3>
            {% for message in messages %}
                <h1>{{ message }}</h1>
            {% endfor %}

            <form action="" method="post">
                {% csrf_token %}
                <h2>Nom d'utilisateur</h2>
                <input type="text" name="utilisateur" placeholder="">
                <h2>Mot de passe</h2>
                <input type="password" name="mot_de_passe" placeholder="">
                <input type="submit" value="Se connecter">
            </form>
        </div>
        <div class="connexion-infos">
            <div class="infos">
                <h2>En vous inscrivant sur NOVA, vous accédez à des outils personnalisés pour gérer votre budget, suivre vos investissements et optimiser vos décisions financières. Profitez d’un suivi en temps réel, de conseils adaptés et d’une expérience sécurisée pour bâtir un avenir financier serein. Rejoignez-nous dès aujourd’hui !</h2>
                <h1>Créez votre compte et prenez le contrôle de vos finances !</h1>
            </div>
            <div class="imgRejoindre"><img src="{% static 'images/argentIMG.svg' %}" alt=""></div>
            <div class="shadow"></div>
        </div>
    </section>
</body>
</html>