{% load static %}
<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="UTF-8">
    <title>ÉcoNova Finance</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet"> <!-- Importation de la police Poppins -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>

  <div class="header">
    <button class="menu-btn">
        &#9776;
    </button>
    <img src="{% static 'images/logoImage.png' %}" alt="Logo ÉcoNova Finance" class="logoSite">
    <span class="econova-text">ÉcoNova Finance</span>

        <div class="buttons">

            <button class="login"><strong>S'inscrire</strong> </button>
            <button class="get-started"><strong>Se Connecter</strong> </button>
        </div>
    </div>


    <div class="slogan">
        <p>Le site qui rend vos finances aussi simples qu'un clic !</p>
    </div>

       <!-- Barre de recherche ovale avec une loupe -->
<div class="search-container">
    <input type="text" class="search-input" placeholder="Rechercher..." id="searchBox">
    <div class="search-icon">
        <i class="fa fa-search"></i> <!-- Icône loupe de FontAwesome -->
    </div>
</div>

</body>

</html>

