{% load static %}
<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="UTF-8">
    <title>ÉcoNova Finance</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet"> <!-- Importation de la police Poppins -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="{% static 'images/Logo EcoNova.png' %}">

</head>

<body>

  <header class="header">
      <div class="logoSite">
          <a href="members"><img src="{% static 'images/Logo EcoNova.png' %}" alt="Logo ÉcoNova Finance"
                                   class="logoSite"></a>
          <h2 class="econova-text">ÉcoNova</h2>
      </div>

        <div class="menu">
            {% if not user.is_authenticated %}
            	<a href="connexion"><button class="connexion">Se connecter</button></a>
                <a href="rejoindre"><button class="rejoindre">Rejoindre</button></a>
            {% else %}
                <a href="deconnexion"><button class="deconnexion">Se déconnecter</button></a>
            {% endif %}
            <div class="menu-btn">
                <div class="btn-line"></div>
                <div class="btn-line"></div>
                <div class="btn-line"></div>
            </div>
        </div>

  </header>
  <div class="chatbot">
      <img src="{% static 'images/chatbot2.png' %}" alt="Logo ÉcoNova Finance">
  </div>
  <section class="presentation">
    <div class="slogan">
        <h1>Votre gestion financière, aussi simple qu'un clic !</h1>
        <a href="connexion"><button class="btn-slogan">Commencer</button></a>
        <h2>Bienvenue {{ user.username }}</h2>
    </div>

      <div class="shadow" id="shadow2"></div>
  </section>
  <img src="{% static 'images/logoGraphique.png' %}" alt="Logo Graphique Page1"
           class="logoSlogan">

    <section class="nova">
        <h1> NOVA </h1>
    </section>
    <section class="education">
        <div class="education-infos"></div>
        <img src="{% static 'images/educationIMG.png' %}" alt="Logo Graphique Page2">
    </section>
    <section class="outils">
        <div class="outils-infos">
            <div class="info" id="info1">
                <h2>Simulateur</h2>
                <h2>Financier Anticipez Vos Finances</h2>
                <h3>Faites des choix éclairés avec notre simulateur financier. Estimez votre budget, vos économies ou
                    vos investissements en quelques clics et prenez le contrôle de votre avenir financier dès maintenant.</h3>
            </div>
            <div class="info" id="info2">
                <h2>Suivi Financier</h2>
                <h2>Gardez le Contrôle de Votre Argent</h2>
                <h3>Suivez vos revenus, dépenses et objectifs financiers en temps réel. Avec notre outil de suivi financier, visualisez vos finances en un coup d’œil et optimisez votre gestion au quotidien.</h3>
            </div>
            <div class="info" id="info3">
                <h2>Bourse</h2>
                <h2>Investissez en Toute Confiance</h2>
                <h3>Suivez les marchés, analysez les tendances et prenez des décisions éclairées. Avec notre outil Bourse, accédez à des informations en temps réel pour optimiser vos investissements.</h3>
            </div>
        </div>
    </section>

    <footer>

        <div class="shadow" id="shadow3"></div>
    </footer>
    <section class="copyrights">
        <h3>© 2025 NOVA. Tous droits réservés.</h3>
        <h3> Créé par Micheal Gyan, Gabriel-Ngoma Riendeau, Samy Baouche, Mohammed El Ouaabani et Nancy Bechara.</h3>
    </section>
</body>

</html>

