{% load static %}
<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="UTF-8">
    <title>ÉcoNova Finance</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet"> <!-- Importation de la police Poppins -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>

  <header class="header">
      <div class="logoSite">
          <img src="{% static 'images/Logo EcoNova.png' %}" alt="Logo ÉcoNova Finance" class="logoSite">
          <h2 class="econova-text">ÉcoNova</h2>
      </div>

        <div class="menu">
            <button class="connexion"><strong> Connexion </strong> </button>
            <button class="menu-btn">
                &#9776;
            </button>
        </div>

  </header>

  <section class="presentation">
      <div class="shadow" id="shadow1"></div>
    <div class="slogan">
        <h1>Votre gestion financière, aussi simple qu'un clic !</h1>
    </div>

      <div class="shadow" id="shadow2"></div>
  </section>
  <img src="{% static 'images/logoGraphique.png' %}" alt="Logo Graphique Page1"
           class="logoSlogan">

    <section class="nova">
        <h1> NOVA </h1>
    </section>
    <section class="education">
        <div class="education-infos">
            <img src="{% static 'images/educationIMG.png' %}" alt="Logo Graphique Page2"
        </div>
    </section>
    <section class="outils">
        <div class="outils-infos"></div>
    </section>

    <footer></footer>
    <section class="copyrights"></section>
</body>

</html>

