{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/questionnaire.css' %}">
    <link rel="icon" href="{% static 'images/Logo EcoNova.png' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
</head>

<body>
<header class="header">
      <div class="logoSite">
          <a href="/"><img src="{% static 'images/Logo EcoNova.png' %}" alt="Logo ÉcoNova Finance"
                                   class="logoSite"></a>
          <h2 class="econova-text">EcoNova</h2>
      </div>

        <div class="menu">
            <div class="menu-btn">
                <div class="btn-line" id="btn-line1"></div>
                <div class="btn-line" id="btn-line2"></div>
                <div class="btn-line" id="btn-line3"></div>
            </div>
        </div>

    <div class="menu-slide">
        {% if user.is_authenticated %}
            <h2 class="navigation">Bienvenue {{ user.username }}</h2>
        {% else %}
            <h2 class="navigation">NAVIGATION</h2>
        {% endif %}

        <div class="liste-onglets">
            <ul>
                <h2><a href="">Simulateur</a></h2>
                <h2><a href="">Suivi Financier</a></h2>
                <h2><a href="">Bourse</a></h2>
                <h2><a href="">Nova</a></h2>
                <h2><a href="">Éducation Financière</a></h2>
            </ul>
        </div>
        <div class="menu-connexion">
            {% if not user.is_authenticated %}
                <a href="connexion"><button class="connexion">Connexion</button></a>
                <a href="rejoindre"><button class="rejoindre">Rejoindre</button></a>
            {% else %}
                <a href="deconnexion"><button class="deconnexion">Se déconnecter</button></a>
                <a href="tableau-bord/profil">
                    <h3 class="tableau-bord">Tableau de bord</h3>
                    <lottie-player src="{% static 'json/dashboard-icon/Arrow left_custom_icon.json' %}"  loop hover></lottie-player>
                </a>
            {% endif %}

        </div>
        <h3>Avec NOVA, Naviguez facilement entre outils de suivi et simulations, Optimisez vos finances, développez une Vision stratégique et profitez d’un Accompagnement personnalisé. Budget, épargne, investissement : maîtrisez votre avenir financier en toute confiance.</h3>
        <div class="logoSite">
            <a href=""><img src="{% static 'images/Logo EcoNova.png' %}" alt="Logo ÉcoNova Finance" class="logoSite"></a>
            <h2 class="econova-text">EcoNova</h2>
        </div>
    </div>
</header>
    <section class="questionnaire">
        <div class="questions">
            <h1>Bienvenue, {{ user.username }}, dans le questionnaire de profil financier !</h1>
            <div class="form-animation">
                <div id="lottie-container7" class="lottie-container-form"></div>
                <script>
                    var animation = lottie.loadAnimation({
                        container: document.getElementById('lottie-container7'),
                        renderer: 'svg',
                        loop: true,
                        autoplay: true,
                        path: "{% static 'json/form.json' %}"
                    });
                </script>
            </div>
            <h2>Quel est votre profil financier ?</h2>
            <h3 class="infos-questionnaire">Avant de définir vos objectifs financiers, il est important de
            comprendre votre situation
                et vos
                attentes. Cela comprend votre capacité à accepter des risques, votre horizon de placement et vos objectifs financiers. Remplissez ce questionnaire pour mieux comprendre votre profil financier, ainsi que les types d’investissements qui vous conviennent le mieux. Cela servira également de point de départ pour des discussions avec un conseiller financier.</h3>

            <form action="" method="post">
                {% csrf_token %}
                <div class="question visible">
                    <h2>Entrer votre date de naissance</h2>
                    <input type="date" name="date_de_naissance" placeholder="Date de naissance">
                </div>

                <div class="question" >
                    <h2>Quel est votre âge?</h2>
                    <div><input type="radio" name="age" value="18-24"><h3>18-24</h3></div>
                    <div><input type="radio" name="age" value="25-34"><h3>25-34</h3></div>
                    <div><input type="radio" name="age" value="35-44"><h3>35-44</h3></div>
                    <div><input type="radio" name="age" value="45-54"><h3>45-54</h3></div>
                    <div><input type="radio" name="age" value="55-64"><h3>55-64</h3></div>
                    <div><input type="radio" name="age" value="65+"><h3>65+</h3></div>
                </div>
                <div class="question">
                    <h2>Quel est votre sexe?</h2>
                    <div><input type="radio" name="sexe" value="Homme"><h3>Homme</h3></div>
                    <div><input type="radio" name="sexe" value="Femme"><h3>Femme</h3></div>
                    <div><input type="radio" name="sexe" value="Autre"><h3>Autre</h3></div>

                </div>
                <div class="question">
                    <h2>Termes et conditions</h2>
                    <div><input type="checkbox" name="conditions" required><h3>En soumettant ce questionnaire,
                    vous
                    acceptez nos
                    termes
                    et
                    conditions ainsi que
                    notre
                        politique de confidentialité.</h3></div>

                    <input type="submit" value="Envoyer">
                </div>
            </form>
            <div class="nav-questionnaire">
                <button class="retour">Retour</button>
                <button class="suivant">Suivant</button>
            </div>
        </div>
    </section>
    <section class="copyrights">
        <h3>© 2025 NOVA. Tous droits réservés.</h3>
        <h3> Créé par Micheal Gyan, Gabriel-Ngoma Riendeau, Samy Baouche, Mohammed El Ouaabani et Nancy Bechara.</h3>
    </section>

    <script src="{% static "js/app.js" %}"></script>
    <script>
        suivant = document.querySelector('.suivant');
        question = document.querySelectorAll('.question');
        var i = 0;
        suivant.addEventListener("click", ()=>{
            if(i < question.length-1){
                question[i].classList.toggle("visible");
                i++;
                question[i].classList.toggle("visible");
            }
            console.log(i);
        })

        retour = document.querySelector('.retour');
        retour.addEventListener('click', ()=>{
            if(i > 0){
                question[i].classList.toggle("visible");
                i--;
                question[i].classList.toggle("visible");
            }
        })
    </script>
</body>
</html>