{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/rejoindre.css' %}">
    <link rel="icon" href="{% static 'images/Logo EcoNova.png' %}">
</head>
<body>
    <section class="connexion">
        <div class="form">
            <h1>REJOINDRE</h1>
            {% for message in messages %}
                <h1>{{ message }}</h1>
            {% endfor %}

            <form action="" method="post">
                {% csrf_token %}
                <h2>Prénom</h2>
                <input type="text" name="prenom" placeholder="">
                <h2>Nom de famille</h2>
                <input type="text" name="nom_de_famille" placeholder="">
                <h2>Email</h2>
                <input type="text" name="email" placeholder="">
                <h2>Nom d'utilisateur</h2>
                <input type="text" name="utilisateur" placeholder="">
                <h2>Mot de passe</h2>
                <input type="password" name="mot_de_passe" placeholder="">
                <h2>Répète le mot de passe</h2>
                <input type="password" name="mot_de_passe2" placeholder="">
                <input type="submit" value="Nous rejoindre">
            </form>
            <a href="/members"><img src="{% static 'images/Logo EcoNova.png' %}" alt=""></a>
        </div>
        <div class="connexion-infos">
            <div class="infos">
                <h2>En vous inscrivant sur NOVA, vous accédez à des outils personnalisés pour gérer votre budget, suivre vos investissements et optimiser vos décisions financières. Profitez d’un suivi en temps réel, de conseils adaptés et d’une expérience sécurisée pour bâtir un avenir financier serein. Rejoignez-nous dès aujourd’hui !</h2>
                <h1>Créez votre compte et prenez le contrôle de vos finances !</h1>
            </div>
            <div class="imgRejoindre"><img src="{% static 'images/argentIMG.svg' %}" alt=""></div>
            <div class="shadow"></div>
        </div>
    </section>
</body>
</html>