{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Rejoindre</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/rejoindre.css' %}">
    <link rel="icon" href="{% static 'images/Logo EcoNova.png' %}">
</head>
<body>
<header class="header">
      <div class="logoSite">
          <a href="/"><img src="{% static 'images/Logo EcoNova.png' %}" alt="Logo ÉcoNova Finance"
                                   class="logoSite"></a>
          <h2 class="econova-text">EcoNova</h2>
      </div>

        <div class="menu">
            <div class="menu-btn">
                <div class="btn-line" id="btn-line1"></div>
                <div class="btn-line" id="btn-line2"></div>
                <div class="btn-line" id="btn-line3"></div>
            </div>
        </div>

    <div class="menu-slide">
        <h2>Bienvenue {{ user.username }}</h2>
    </div>
</header>
    <section class="rejoindre">
        <div class="form">
            <h1>Créer un compte</h1>
            <h3>Tu as déjà un compte? <a href="connexion" style="color: #0051FF">Connecte-toi</a></h3>
            {% for message in messages %}
                <h3>{{ message }}</h3>
            {% endfor %}

            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="utilisateur" placeholder="Nom d'utilisateur">
                <div>
                    <input type="text" name="prenom" placeholder="Prénom">
                    <input type="text" name="nom_de_famille" placeholder="Nom de famille">
                </div>
                <input type="text" name="email" placeholder="Courriel">
                <div>
                    <input type="password" name="mot_de_passe" placeholder="Mot de passe">
                    <input type="password" name="mot_de_passe2" placeholder="Répète le mot de passe">
                </div>
                <input type="submit" value="Nous rejoindre">
            </form>
        </div>
    </section>

    <section class="copyrights">
        <h3>© 2025 NOVA. Tous droits réservés.</h3>
        <h3> Créé par Micheal Gyan, Gabriel-Ngoma Riendeau, Samy Baouche, Mohammed El Ouaabani et Nancy Bechara.</h3>
    </section>

    <script src="{% static "js/app.js" %}"></script>
</body>
</html>