{% extends 'tableau-bord/master.html' %}
{% load static %}
{% block head %}

<head>
    <meta charset="UTF-8">
    <title>Nova</title>
    <link rel="stylesheet" href="{% static 'css/tableau-bord/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/tableau-bord/chatbot.css' %}">
    <link rel="icon" href="{% static 'images/Logo EcoNova.png' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
{% endblock %}

{% block content %}
    <section class="tableau-bord chatbot">

        <div class="bienvenue" id="page-bienvenue">
            <h1>Bonjour {{ user.username }}, je suis Nova, ton assistant IA personnalisé !</h1>
            <h2>Je suis ton assistant financier intelligent, là pour t’aider à gérer ton argent, booster tes investissements, et te donner des conseils qui collent à tes projets. Que tu cherches à suivre tes dépenses, optimiser tes économies ou prévoir ton avenir financier, je suis là pour ça !
N’hésite pas à me poser toutes tes questions, je suis là pour t’aider !</h2>
        </div>
        <div class="chat-box" id="chat-box"></div>

        <div class="message-utilisateur">
            <textarea onclick="enter()" type="text" id="user-input" placeholder="Pose ta question ici ..." ></textarea>
            <button id="envoyer-message" onclick="envoyerMessage()"><img src="{% static 'images/dashboard-icon/Arrow right.svg' %}"></button>
        </div>
    </section>

    <script>
        function envoyerMessage(){
            page_bienvenue = document.getElementById('page-bienvenue')
            /*Zone du chat*/
            chat_box = document.getElementById('chat-box')
            /*Message de l'utilisateur et du bot*/
            message_element_utilisateur = document.createElement("h2")
            message_element_utilisateur.classList.add("user-message")
            message_element_bot = document.createElement("h2")
            message_element_bot.classList.add("bot-message")
            /*Message d'erreur*/
            message_element_erreur = document.createElement("h2")
            message_element_erreur.innerHTML = "Erreur"

            /*Envoyer le message de l'utilisateur dans la zone de chat*/
            message_utilisateur = document.getElementById('user-input').value
            if (message_utilisateur.trim() ==='') return;

            message_element_utilisateur.innerHTML = message_utilisateur
            chat_box.appendChild(message_element_utilisateur)
            document.getElementById('user-input').value = ""

            /*Faire disparaitre la page de bienvenue*/
            page_bienvenue.classList.add('disparait')
            chat_box.classList.add('bot_visibilité')


            /*Envoyer la réponse du bot dans la zone de chat*/
            $.ajax({
                type: 'POST',
                url: 'reponseBot',
                data: {message: message_utilisateur, csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (reponse){
                    message_element_bot.innerHTML = reponse.response
                    chat_box.appendChild(message_element_bot)
                },
                error: function (){
                    chat_box.appendChild(message_element_erreur)
                }
            })
            scrollToBottom()

        }
        function scrollToBottom() {
            let chatBox = document.getElementById("chat-box");
            setTimeout(() => {
                chatBox.scrollTo({
                  top: chatBox.scrollHeight,
                  behavior: "smooth"
                });
            }, 100);
        }

        function enter(){
            document.getElementById("user-input").addEventListener("keyup", function(event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    document.getElementById("envoyer-message").click();
                    console.log('test')
                }
            });
        }
    </script>
{% endblock %}