{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page principale</title>
    <link rel="stylesheet" href="{% static 'css/tableau-bord/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/tableau-bord/page-principale.css' %}">
    <link rel="icon" href="{% static 'images/Logo EcoNova.png' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body>
<!--Menu du profil (bouton en haut à droite)-->
    <lottie-player class="icon-profile" id="icon-profile" src="{% static 'json/dashboard-icon/User_custom_icon.json' %}"
                       hover></lottie-player>
    <div class="menu-profil menu-hide" id="menu-profil">
        <div class="menu-profil-section1">
            <img src="{% static 'images/dashboard-icon/profil-icon.svg' %}" alt="Icon de profil">
            <h2>
                {{ user.username }}
            </h2>
            <h3>{{ user.email }}</h3>

        </div>
        <div class="menu-profil-section2">
            <a href="profil" class="">
                <img src="{% static 'images/dashboard-icon/profil.svg' %}" alt="Icon de profil">
                <h2>Mon profil</h2>
            </a>
            <a href="/" class="">
                <img src="{% static 'images/dashboard-icon/home_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg' %}"
                     style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);"
                     alt="Icon page d'accueil">
                <h2>Page d'accueil</h2>
            </a>
        </div>
        <div class="menu-profil-section3">
            <a href="/deconnexion" class="">
                <img src="{% static 'images/dashboard-icon/logout-svgrepo-com 1.svg' %}" alt="Icon de déconnexion">
                <h2>Se déconnecter</h2>
            </a>
        </div>
    </div>

<!--Menu à gauche-->
    <section class="menu">
        <div class="logoSite">
          <a href="/"><img src="{% static 'images/Logo EcoNova.png' %}" alt="Logo ÉcoNova Finance"
                                         class="logoSite"></a>
          <h2 class="econova-text">EcoNova</h2>
        </div>
        <div class="onglets">
            <a href="page-principale" class="page-principale onglet">
                <lottie-player src="{% static 'json/dashboard-icon/Home_custom_icon.json' %}" hover></lottie-player>
                <h2>Page principale</h2>
            </a>
            <div class="onglet-outils onglet">
                <lottie-player src="{% static 'json/dashboard-icon/Wrench_custom_icon.json' %}" hover></lottie-player>
                <h2 class="titre-outil">Outils Financiers</h2>
                <img src="{% static 'images/dashboard-icon/triangle.svg' %}" class="triangle">
            </div>

            <div class="outils" id="outils">
                <a href="suivi" class="onglet-suivi onglet">
                    <h2>Suivi</h2>
                </a>
                <a href="bourse" class="onglet-bourse onglet">
                    <h2>Bourse</h2>
                </a>
                <a href="simulation" class="onglet-simulation onglet">
                    <h2>Simulation</h2>
                </a>
                <a href="chatbot" class="onglet-nova onglet">
                    <h2>NOVA</h2>
                </a>
            </div>
        </div>
        <a href="/education" class="onglet-dictionnaire onglet">
            <lottie-player src="{% static 'json/dashboard-icon/Arrow left_custom_icon.json' %}" hover></lottie-player>
            <h2>Éducation Financière</h2>
        </a>
    </section>
    <section class="tableau-bord principale">
        <h1 class="titre">Bienvenue {{ user.username }} sur EcoNova</h1>
        <div class="sections">
            <div class="suivi-resume resume">
                <div class="video">
                    <video autoplay muted loop>
                      <source src="{% static 'videos/chatbot_recording.mp4' %}" type="video/mp4">
                    </video>
                </div>
                <div class="infos">
                    <h2>Suivi Financier<br>Gardez le Contrôle de Votre Argent</h2>
                    <h3>Suivez vos revenus, dépenses et objectifs financiers en temps réel. Avec notre outil de suivi financier, visualisez vos finances en un coup d’œil et optimisez votre gestion au quotidien.</h3>
                    <a href="suivi">
                        <h3>Lancer vous</h3>
                        <img src="{% static 'images/dashboard-icon/fleche-droite.svg' %}">
                    </a>
                </div>
            </div>
            <div class="bourse-resume resume">
                <div class="video">
                    <video autoplay muted loop>
                      <source src="{% static 'videos/bourse_recording.mp4' %}" type="video/mp4">
                    </video>
                </div>
                <div class="infos">
                    <h2>Bourse<br>Investissez en Toute Confiance</h2>
                    <h3>Suivez les marchés, analysez les tendances et prenez des décisions éclairées. Avec notre outil Bourse, accédez à des informations en temps réel pour optimiser vos investissements.</h3>
                    <a href="bourse">
                        <h3>Lancer vous</h3>
                        <img src="{% static 'images/dashboard-icon/fleche-droite.svg' %}">
                    </a>
                </div>
            </div>
            <div class="simulation-resume resume">
                <div class="video">
                    <video autoplay muted loop>
                      <source src="{% static 'videos/simulation_recording.mp4' %}" type="video/mp4">
                    </video>
                </div>
                <div class="infos">
                    <h2>Simulateur Financier<br>Anticipez Vos Finances</h2>
                    <h3>Faites des choix éclairés avec notre simulateur financier. Estimez votre budget, vos économies ou vos investissements en quelques clics et prenez le contrôle de votre avenir financier dès maintenant.</h3>
                    <a href="">
                        <h3>Lancer vous</h3>
                        <img src="{% static 'images/dashboard-icon/fleche-droite.svg' %}">
                    </a>
                </div>
            </div>
            <div class="chatbot-resume resume">
                <div class="video">
                    <video autoplay muted loop>
                      <source src="{% static 'videos/chatbot_recording.mp4' %}" type="video/mp4">
                    </video>
                </div>
                <div class="infos">
                    <h2>Nova<br>Votre assistant financier 24/7</h2>
                    <h3>Obtenez des conseils de budgétisation en temps réel, suivez vos dépenses, recevez des recommandations d'épargne personnalisées et accédez rapidement à des réponses à vos questions financières, le tout en un seul endroit. Nova est là pour vous aider, à tout moment et où que vous soyez !</h3>
                    <a href="chatbot">
                        <h3>Lancer vous</h3>
                        <img src="{% static 'images/dashboard-icon/fleche-droite.svg' %}">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'js/tableau-bord.js' %}"></script>
</body>
</html>