<!--Page html du profil d'utilisateur qui se trouve dans le tableau de bord-->
{% extends 'tableau-bord/master.html' %}
{% load static %}
<!-- Bloc head : métadonnées, styles et scripts -->
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" href="{% static 'css/tableau-bord/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/tableau-bord/profil.css' %}">
    <link rel="icon" href="{% static 'images/Logo EcoNova.png' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
{% endblock %}
{% block content %}
<!-- Section principale du tableau de bord : affichage du profil utilisateur -->
    <section class="tableau-bord">
        <!-- Logo et bouton modifier -->
        <div class="logo-profil">
            <div class="logo-icon"><img src="{% static 'images/dashboard-icon/profil-icon.svg' %}" alt="Icon de profil"></div>
            <div class="modifier-logoIcon">
                <lottie-player src="{% static 'json/dashboard-icon/Pencil_custom_icon.json' %}" hover></lottie-player>
                <h2>Modifier</h2>
            </div>
            <h1>
                {{ user.username }}
            </h1>
            <h3 class="modifier-utilisateur" id="utilisateur">Changer le nom d'utilisateur</h3>
        </div>
        <!-- Animation de profil -->
        <div id="animation-profil" class="animation-profil"></div>
        <script>
            var animation = lottie.loadAnimation({
                container: document.getElementById('animation-profil'),
                renderer: 'svg',
                loop: true,
                autoplay: true,
                path: "{% static 'json/Animation-profil.json' %}"
            });
        </script>
    <!-- Infos utilisateur affichées -->
        <div class="infos1">
            <div class="nom">
                <h1>Nom Complet</h1>
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                <h3 id="nom">Changer votre nom</h3>
            </div>
            <div class="email">
                <h1>Courriel</h1>
                <h2>{{ user.email }}</h2>
                <h3 id="email">Changer le courriel</h3>
            </div>
            <div class="date-naissance">
                <h1>Date de naissance</h1>
                <h2>{{ datenaissance }}</h2>
                <h3 id="date-naissance">Changer la date de naissance</h3>
            </div>
            <div class="statut">
                <h1>Statut matrimonial</h1>
                <h2>{{ statut }}</h2>
                <a href="/questionnaire"><h3>Refaire le questionnaire</h3></a>
            </div>
            <div class="sexe">
                <h1>Genre</h1>
                <h2>{{ genre }}</h2>
                <h3 id="genre">Changer le genre</h3>
            </div>
            <div class="conditions">
                <h1>Conditions d'utilisateur</h1>
                <a href="/conditions"><h3>Voir les conditions</h3></a>
            </div>
        </div>
            <!-- Mot de passe -->
        <div class="mot-de-passe">
            <h1>Mot de passe</h1>
            <h3 id="motdepasse">Changer le mot de passe</h3>
        </div>
            <!-- Profil financier et options de compte -->
        <div class="infos2">
            <div class="profil-financier">
                <h1>Profil financier</h1>
                <h2>Conservateur</h2>
                <a href="/education"><h3>Refaire le profil</h3></a>
            </div>
            <div class="supprimer">
                <h1>Compte</h1>
                <a href="/deconnexion" id="deconnexion"><h3>Se déconnecter</h3></a>
                <a href="/supprimer" id="supprimer"><h3>Supprimer le compte</h3></a>
            </div>
        </div>
    </section>
<!-- Formulaire de modification (masqué par défaut, affiché dynamiquement) -->
    <section class="form-modifier form-hide">
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-hide" id="input1">
                <h1>Modifier ton nom d'utilisateur</h1>
                <h2>Nom d'utilisateur</h2>
                <input type="text" name="utilisateur" placeholder="">
                <div class="checkbox-utilisateur-container">
                    <h3>Es-tu sur de vouloir modifier ton nom d'utilisateur?</h3>
                    <input type="checkbox" name="utilisateur2" class="checkbox-utilisateur">
                </div>
                <div class="btn-modifier-container">
                    <button class="annuler">Annuler</button>
                    <input type="submit" value="Modifier ton nom d'utilisateur" class="btn-modifier">
                </div>
            </div>
            <!-- Changement nom et prénom -->
            <div class="input-hide" id="input2">
                <h1>Change ton nom</h1>
                <h2>Prénom</h2>
                <input type="text" name="prenom" placeholder="">
                <h2>Nom de famille</h2>
                <input type="text" name="nom_de_famille" placeholder="">
                <div class="checkbox-utilisateur-container">
                    <h3>Es-tu sur de vouloir modifier ton nom?</h3>
                    <input type="checkbox" name="nom2" class="checkbox-nom">
                </div>
                <div class="btn-modifier-container">
                    <button class="annuler">Annuler</button>
                    <input type="submit" value="Modifier ton nom" class="btn-modifier">
                </div>
            </div>

            <!-- Changement courriel -->
            <div class="input-hide" id="input3">
                <h1>Change ton courriel</h1>
                <h2>Courriel</h2>
                <input type="text" name="email" placeholder="">
                <div class="checkbox-utilisateur-container">
                    <h3>Es-tu sur de vouloir modifier ton courriel?</h3>
                    <input type="checkbox" name="email2" class="checkbox-email">
                </div>
                <div class="btn-modifier-container">
                    <button class="annuler">Annuler</button>
                    <input type="submit" value="Modifier ton courriel" class="btn-modifier">
                </div>
            </div>

            <!-- Changement mot de passe -->
            <div class="input-hide" id="input4">
                <h1>Change ton mot de passe</h1>
                <h2>Mot de passe</h2>
                <input type="password" name="mot_de_passe" placeholder="">
                <div class="checkbox-utilisateur-container">
                    <h3>Es-tu sur de vouloir modifier ton mot de passe?</h3>
                    <input type="checkbox" name="mot_de_passe2" class="checkbox-mot-de-passe">
                </div>
                <div class="btn-modifier-container">
                    <button class="annuler">Annuler</button>
                    <input type="submit" value="Modifier ton mot de passe" class="btn-modifier">
                </div>
            </div>

            <!-- Changement date de naissance -->
            <div class="input-hide" id="input5">
                <h1>Change ta date de naissance</h1>
                <h2>Date de naissance</h2>
                <input type="date" name="date_naissance" placeholder="">
                <div class="checkbox-utilisateur-container">
                    <h3>Es-tu sur de vouloir modifier ta date de naissance?</h3>
                    <input type="checkbox" name="date_naissance2" class="checkbox-datenaissance">
                </div>
                <div class="btn-modifier-container">
                    <button class="annuler">Annuler</button>
                    <input type="submit" value="Modifier ta date de naissance" class="btn-modifier">
                </div>
            </div>

            <!-- Changement genre -->
            <div class="input-hide" id="input6">
                <h1>Change ton genre</h1>
                <h2>Genre</h2>
                <div class="choix-genre">
                    <select name="sexe">
                      <option value="Homme">Homme</option>
                      <option value="Femme">Femme</option>
                      <option value="Autre">Autre</option>
                    </select>

                </div>
                <div class="checkbox-utilisateur-container">
                    <h3>Es-tu sur de vouloir modifier ton genre?</h3>
                    <input type="checkbox" name="genre2" class="checkbox-genre">
                </div>
                <div class="btn-modifier-container">
                    <button class="annuler">Annuler</button>
                    <input type="submit" value="Modifier ton genre" class="btn-modifier">
                </div>
            </div>
        </form>
    </section>
{% endblock %}