{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>ÉcoNova Finance</title>
    <link rel="stylesheet" href="{% static 'css/tableau-bord/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/tableau-bord/profil.css' %}">
    <link rel="icon" href="{% static 'images/Logo EcoNova.png' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body>
    <!--Menu du profil (bouton en haut à droite)-->
    <lottie-player class="icon-profile" id="icon-profile" src="{% static 'json/dashboard-icon/User_custom_icon.json' %}"
                       hover></lottie-player>
    <div class="menu-profil menu-hide" id="menu-profil">
        <div class="menu-profil-section1">
            <img src="{% static 'images/dashboard-icon/profil-icon.svg' %}" alt="Icon de profil">
            <h2>
                {{ user.username }}
            </h2>
            <h3>{{ user.email }}</h3>

        </div>
        <div class="menu-profil-section2">
            <a href="profil" class="">
                <img src="{% static 'images/dashboard-icon/profil.svg' %}" alt="Icon de profil">
                <h2>Mon profil</h2>
            </a>
            <a href="" class="">
                <img src="{% static 'images/dashboard-icon/parametre.svg' %}" alt="Icon de parametre">
                <h2>Paramètres</h2>
            </a>
            <a href="" class="">
                <img src="{% static 'images/dashboard-icon/moon.svg' %}" alt="Icon de mode sombre">
                <h2>Mode sombre</h2>
            </a>
        </div>
        <div class="menu-profil-section3">
            <a href="/deconnexion" class="">
                <img src="{% static 'images/dashboard-icon/logout-svgrepo-com 1.svg' %}" alt="Icon de déconnexion">
                <h2>Se déconnecter</h2>
            </a>
        </div>
    </div>

<!--Menu à gauche-->
    <section class="menu">
        <div class="logoSite">
          <a href="/"><img src="{% static 'images/Logo EcoNova.png' %}" alt="Logo ÉcoNova Finance"
                                         class="logoSite"></a>
          <h2 class="econova-text">EcoNova</h2>
        </div>
        <div class="onglets">
            <a href="page-principale" class="page-principale onglet">
                <lottie-player src="{% static 'json/dashboard-icon/Home_custom_icon.json' %}" hover></lottie-player>
                <h2>Page principale</h2>
            </a>
            <div class="onglet-outils onglet">
                <lottie-player src="{% static 'json/dashboard-icon/Wrench_custom_icon.json' %}" hover></lottie-player>
                <h2 class="titre-outil">Outils Financiers</h2>
                <img src="{% static 'images/dashboard-icon/triangle.svg' %}" class="triangle">
            </div>

            <div class="outils" id="outils">
                <a href="" class="onglet-suivi onglet">
                    <h2>Suivi</h2>
                </a>
                <a href="bourse" class="onglet-bourse onglet">
                    <h2>Bourse</h2>
                </a>
                <a href="simulation" class="onglet-simulation onglet">
                    <h2>Simulation</h2>
                </a>
                <a href="chatbot" class="onglet-nova onglet">
                    <h2>NOVA</h2>
                </a>
            </div>
        </div>
        <a href="/education" class="onglet-dictionnaire onglet">
            <lottie-player src="{% static 'json/dashboard-icon/Arrow left_custom_icon.json' %}" hover></lottie-player>
            <h2>Éducation Financière</h2>
        </a>
        <a href="" class="onglet-parametres onglet">
            <lottie-player src="{% static 'json/dashboard-icon/Settings_custom_icon.json' %}" hover></lottie-player>
            <h2>Paramètres</h2>
        </a>
    </section>

    <!--Tableau de bord (SECTION DU MILIEU)-->
    <section class="tableau-bord">
        <div class="logo-profil">
            <div class="logo-icon"><img src="{% static 'images/dashboard-icon/profil-icon.svg' %}" alt="Icon de profil"></div>
            <div class="modifier-logoIcon">
                <lottie-player src="{% static 'json/dashboard-icon/Pencil_custom_icon.json' %}" hover></lottie-player>
                <h2>Modifier</h2>
            </div>
            <h1>
                {{ user.username }}
            </h1>
            <h3 class="modifier-utilisateur" id="utilisateur">Changer le nom d'utilisateur</h3>
        </div>
        <div id="animation-profil" class="animation-profil"></div>
        <script>
            var animation = lottie.loadAnimation({
                container: document.getElementById('animation-profil'),
                renderer: 'svg',
                loop: true,
                autoplay: true,
                path: "{% static 'json/Animation-profil.json' %}"
            });
        </script>

        <div class="infos1">
            <div class="nom">
                <h1>Nom Complet</h1>
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                <h3 id="nom">Changer votre nom</h3>
            </div>
            <div class="email">
                <h1>Courriel</h1>
                <h2>{{ user.email }}</h2>
                <h3 id="email">Changer le courriel</h3>
            </div>
            <div class="date-naissance">
                <h1>Date de naissance</h1>
                <h2>12/01/1999</h2>
                <h3>Changer la date de naissance</h3>
            </div>
            <div class="adresse">
                <h1>Adresse</h1>
                <h2>1010 rue Pierrot, H5K 7G9, Montréal, Québec</h2>
                <h3>Changer l'adresse</h3>
            </div>
            <div class="telephone">
                <h1>Numéro de téléphone</h1>
                <h2>999-999-9999</h2>
                <h3>Changer la date de naissance</h3>
            </div>
            <div class="sexe">
                <h1>Genre</h1>
                <h2>Non défini</h2>
                <h3>Changer le genre</h3>
            </div>
        </div>
        <div class="mot-de-passe">
            <h1>Mot de passe</h1>
            <h3 id="motdepasse">Changer le mot de passe</h3>
        </div>
        <div class="infos2">
            <div class="profil-financier">
                <h1>Profil financier</h1>
                <h2>Conservateur</h2>
                <a href="questionnaire"><h3>Refaire le questionnaire</h3></a>
            </div>
            <div class="supprimer">
                <h1>Compte</h1>
                <a href="deconnexion" id="deconnexion"><h3>Se déconnecter</h3></a>
                <a href="supprimer" id="supprimer"><h3>Supprimer le compte</h3></a>
            </div>
        </div>
    </section>

    <section class="form-modifier form-hide">
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-hide" id="input1">
                <h1>Modifier ton nom d'utilisateur</h1>
                <h2>Nom d'utilisateur</h2>
                <input type="text" name="utilisateur" placeholder="">
                <div class="checkbox-utilisateur-container">
                    <h3>Es-tu sur de vouloir modifier ton nom d'utilisateur?</h3>
                    <input type="checkbox" name="utilisateur2" class="checkbox-utilisateur">
                </div>
                <div class="btn-modifier-container">
                    <button class="annuler">Annuler</button>
                    <input type="submit" value="Modifier ton nom d'utilisateur" class="btn-modifier">
                </div>
            </div>
            <div class="input-hide" id="input2">
                <h1>Change ton nom</h1>
                <h2>Prénom</h2>
                <input type="text" name="prenom" placeholder="">
                <h2>Nom de famille</h2>
                <input type="text" name="nom_de_famille" placeholder="">
                <div class="checkbox-utilisateur-container">
                    <h3>Es-tu sur de vouloir modifier ton nom?</h3>
                    <input type="checkbox" name="nom2" class="checkbox-nom">
                </div>
                <div class="btn-modifier-container">
                    <button class="annuler">Annuler</button>
                    <input type="submit" value="Modifier ton nom" class="btn-modifier">
                </div>
            </div>
            <div class="input-hide" id="input3">
                <h1>Change ton courriel</h1>
                <h2>Courriel</h2>
                <input type="text" name="email" placeholder="">
                <div class="checkbox-utilisateur-container">
                    <h3>Es-tu sur de vouloir modifier ton courriel?</h3>
                    <input type="checkbox" name="email2" class="checkbox-email">
                </div>
                <div class="btn-modifier-container">
                    <button class="annuler">Annuler</button>
                    <input type="submit" value="Modifier ton courriel" class="btn-modifier">
                </div>
            </div>
            <div class="input-hide" id="input4">
                <h1>Change ton mot de passe</h1>
                <h2>Mot de passe</h2>
                <input type="password" name="mot_de_passe" placeholder="">
                <div class="checkbox-utilisateur-container">
                    <h3>Es-tu sur de vouloir modifier ton mot de passe?</h3>
                    <input type="checkbox" name="mot_de_passe2" class="checkbox-mot-de-passe">
                </div>
                <div class="btn-modifier-container">
                    <button class="annuler">Annuler</button>
                    <input type="submit" value="Modifier ton mot de passe" class="btn-modifier">
                </div>
            </div>
        </form>
    </section>

    <script src="{% static 'js/tableau-bord.js' %}"></script>

</body>
</html>