{% extends 'tableau-bord/master.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Simulation</title>
    <link rel="stylesheet" href="{% static 'css/tableau-bord/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/tableau-bord/simulation.css' %}">
    <link rel="icon" href="{% static 'images/Logo EcoNova.png' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
{% endblock %}

{% block content %}
    <section class="page-accueil">
        <div class="intro-container">
            <h1>Bienvenue sur le simulateur financier d'EcoNova</h1>
            <h2>Plongez dans l’univers de la prévision financière avec notre simulateur basé sur la méthode de Monte Carlo, une technique puissante utilisée dans la finance quantitative pour modéliser l’incertitude des marchés. En tenant compte de la volatilité historique, des rendements attendus et de la corrélation entre les actifs, notre outil génère des milliers de trajectoires possibles pour votre portefeuille.</h2>
            <div>
                <h2>Veuillez sélectionner le nombre d’années sur lequel vous souhaitez projeter votre simulation :</h2>
                <input id="nbannees" type="number" name="nbannees" min="1" placeholder="Choisir" required>
                <input id="commencer_simulation" type="submit" value="Lancer la simulation">

            </div>
        </div>
    </section>
<!--Simulation-->
    <section class="tableau-bord simulation">
        <!--Première section (Compte)-->
        <div class="compte">
            <!--Balance totale du compte-->
            <div class="balance">
                <h1>Balance du Compte</h1>
                <h2 id="balance">200 000,00$</h2>
            </div>
            <!--Nombre de transactions-->
            <div class="nb-transactions">
                <h1>Nombre de transactions</h1>
                <h2 id="nb-transactions">0</h2>
            </div>
            <!--gain ou perte-->
            <div class="transaction">
                <h1>Rendement</h1>
                <h2 id="rendement">--</h2>
            </div>
        </div>
        <!--Bouton pour lancer la simulation-->
        <div class="lancer-simulation">
            <div id="lancer">
                <h2>Lancer la simulation</h2>
            </div>
        </div>
        <div id="chargement" style="display: none; text-align: center;">
          <p>Chargement en cours...</p>
          <div class="spinner"></div>
        </div>
        <div id="graphes-montecarlo"></div>
        <!--Historique des transactions-->
        <img class="ouvrir-historique" src="{% static 'images/dashboard-icon/ouvrir-historique.svg' %}">
        <div class="historique resizable" id="historique">
            <img class="fermer-historique" src="{% static 'images/dashboard-icon/fermer-historique.svg' %}">
            <div>
                <h1>Historique</h1>
                <table>
                    <thead>
                        <tr>
                            <th><h2>Date</h2></th>
                            <th><h2>Symbole</h2></th>
                            <th><h2>Nom</h2></th>
                            <th><h2>Prix</h2></th>
                            <th><h2>Statut</h2></th>
                        </tr>
                    </thead>
                    <tbody id="transaction-history">
                        <!-- Les transactions seront ajoutées ici dynamiquement -->
                    </tbody>
                </table>
            </div>
        </div>
        <!--Tableau des produits financiers pour faire des transactions-->
        <div class="tableau-simulation">
            <input class="recherche" type="text" name="recherche" placeholder="Rechercher">
            <div class="type-produit">
                <div id="bouton-action" onclick="actionClick()"><h2>Actions</h2></div>
                <div id="bouton-crypto" onclick="cryptoClick()"><h2>Cryptomonnaie</h2></div>
            </div>
            <div id="produit-info" class="produit-info">
                <span id="fermer-produit">&times;</span>
                <div class="produit-info-contenu">
                    <div class="infos-action">
                        <div class="produit-titre">
                            <h1 id="produit-type"></h1>

                            <h2 id="produit-risque"></h2>
                        </div>
                        <div class="produit-transaction">
                            <div class="selection-qte">
                                <h2 id="produit-titre"></h2>
                                <input type="number" id="quantite" name="quantite" placeholder="Qté" min="1"
                                       max="999">
                            </div>
                            <div class="selection-type">
                                <h2 id="produit-tendance"></h2>
                                <div class="dropdown-container">
                                    <button class="choix-bouton" id="actionBouton">Choisir une action</button>
                                    <div class="dropdown-options" id="options">
                                        <div onclick="selectOption('Acheter')"><h2>Acheter</h2></div>
                                        <div onclick="selectOption('Vendre')"><h2>Vendre</h2></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chart-container">
                            <canvas id="stockChart"></canvas>
                        </div>
                    </div>
                    <div class="transaction">
                        <div class="details-transaction">
                            <div class="info-transac">
                                <h2>Qté:</h2>
                                <h2 id="produit-qte">1</h2>
                            </div>
                                <div class="info-transac">
                                <h2>Montant unitaire:</h2>
                                <h2 id="produit-prix">100$</h2>
                            </div>
                        </div>
                        <div class="info-transac">
                            <h2>Total:</h2>
                            <h2 id="total"></h2>
                        </div>
                        <button class="bouton-transaction" role="button" onclick="effectuerTransaction()">Faire la transaction</button>
                    </div>
                </div>
            </div>
            <table class="tableau-produit">
                <thead>
                    <tr class="titres">
                      <th scope="col"><h2>Symbole</h2></th>
                      <th scope="col"><h2>Nom</h2></th>
                      <th scope="col"><h2>Prix</h2></th>
                    </tr>
                </thead>
              <tbody class="tableau-visible" id="tab-action">
                {% for action in listeActions %}
                    <tr>
                        <th scope="row" class='symbols'><h3>{{ action.symbole }}</h3></th>
                        <td class='noms'><h3>{{ action.nom }}</h3></td>
                        <td class='prix'><h3>{{ action.prix }} $</h3></td>
                    </tr>
                {% endfor %}
              </tbody>
              <tbody class="tableau-visible" id="tab-crypto">
              {% for crypto in listeCryptos %}
                <tr>
                    <th scope="row" class='symbols'><h3>{{ crypto.symbole }}</h3></th>
                    <td class='noms'><h3>{{ crypto.nom }}</h3></td>
                    <td class='prix'><h3>{{ crypto.prix }} $</h3></td>
                </tr>
              {% endfor %}

              </tbody>

            </table>

        </div>

    <!--Portefeuille de l'utilisateur-->
        <div class="portefeuil" id="portefeuil">
            <div class="portefeuil-titre">
                <img src="{% static 'images/dashboard-icon/triangle.svg' %}">
                <h2>Mon portefeuille</h2>
            </div>
        </div>
        <div class="portefeuil-section">
            <h1>Portefeuille</h1>
            <div class="produits">
                <table>
                    <thead>
                        <tr class="titres">
                          <th scope="col"><h2>Produit</h2></th>
                          <th scope="col"><h2>Qté</h2></th>
                          <th scope="col"><h2>Prix</h2></th>
                          <th scope="col"><h2></h2></th>
                        </tr>
                    </thead>
                    <tbody id="tab-produit">
                        <tr>
                            <th scope="row"><h3></h3></th>
                            <td><h3></h3></td>
                            <td><h3></h3></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <script src="{% static 'js/simulation.js' %}"></script>
    <script>

        let crypto;
        let action;
        function actionClick(){
            action=true;
            crypto=false;
        }
        function cryptoClick(){
            action=false;
            crypto=true;
        }
// --- Initialisation des éléments de l'interface ---
        // Sélectionne tous les éléments ayant la classe 'symbols'
        symbols = document.querySelectorAll('.symbols');

        // Portefeuil de l'utilisateur avec le nb de transaction pour chaque produit
        let portefeuille = [];

        // Boutons pour sélectionner le type de transaction
        const bouton_action = document.getElementById('actionBouton');
        const options = document.getElementById('options');
        // Récupère les éléments du popup
        produit_info = document.getElementById('produit-info');
        popupTitle = document.getElementById('produit-titre');
        popupTendance = document.getElementById('produit-tendance');
        popupRisque = document.getElementById('produit-risque');
        popupPrix = document.getElementById('produit-prix');
        popupType = document.getElementById('produit-type');
        popupQte = document.getElementById('produit-qte')
        produit_fermer = document.getElementById('fermer-produit');

        produit_Qte = document.getElementById('quantite')
        popupTotal = document.getElementById('total');

        commencer_simulation = document.getElementById('commencer_simulation')
        nbannees_input = document.getElementById('nbannees')
        nbannees = 1
        let transactionHistorique = document.getElementById('transaction-history');
        balance = document.getElementById('balance')
        nb_transaction = document.getElementById('nb-transaction')
        bouton_transaction = document.querySelector('.bouton-transaction')

        //Données pour les graphiques des produits
        var labels = [];
        var prices = [];
        var total = 0;
        const actionsGraph = {
            {% for action in actionsGraph %}
                "{{ action.nom }}": [
                    {% for data in action.donnees %}
                        { date: "{{ data.date|escapejs }}", prix: "{{ data.prix }}" },
                    {% endfor %}
                ],
            {% endfor %}
        };
        const cryptosGraph = {
            {% for crypto in cryptosGraph %}
                "{{ crypto.nom }}": [
                    {% for data in crypto.donnees %}
                        { date: "{{ data.date|escapejs }}", prix: "{{ data.prix }}" },
                    {% endfor %}
                ],
            {% endfor %}
        };

    // --- Lancement de la simulation ---
        commencer_simulation.addEventListener('click', (e)=>{
            if (!nbannees_input.value) {
                alert("Veuillez remplir le champ avant de lancer la simulation.");
                return;
            }
            e.preventDefault()
            document.querySelector('.page-accueil').style.display = 'none'
            nbannees = nbannees_input.value
        })

        // --- Événement click sur un symbole (action ou crypto) ---
        symbols.forEach((symbol) => {
            symbol.addEventListener('click', () => {
                bouton_action.textContent = 'Choisir une action';
                symbolText = symbol.innerText; // Récupère le texte du symbole
                produitNom = ''
                produitRisque = ''
                produitPrix = ''
                produitTendance = ''
                {% for listeAction in  listeActions %}
                    // Récupération des infos du produit sélectionné
                    if (symbolText === '{{ listeAction.symbole }}'){
                        produitNom = '{{ listeAction.nom }}'
                        produitRisque = '{{ listeAction.risque }}'
                        produitPrix = '{{ listeAction.prix }}'
                        produitTendance = '{{ listeAction.tendance }}'
                        const donnees = actionsGraph[produitNom];
                        // Affichage du graphique et mise à jour
                        if (donnees) {
                            labels.length = 0;
                            prices.length = 0;
                            donnees.forEach(data => {
                                labels.push(data.date);
                                prices.push(parseFloat(data.prix));
                            });
                        }
                        chargerGraphique(produitNom)

                    }
                {% endfor %}
                {% for listeCrypto in  listeCryptos %}
                    // Récupération des infos du produit sélectionné
                    if (symbolText === '{{ listeCrypto.symbole }}'){
                        produitNom = '{{ listeCrypto.nom }}'
                        produitRisque = '{{ listeCrypto.risque }}'
                        produitPrix = '{{ listeCrypto.prix }}'
                        produitTendance = '{{ listeCrypto.tendance }}'
                        const donnees = cryptosGraph[produitNom];
                        // Affichage du graphique et mise à jour
                        if (donnees) {
                            labels.length = 0;
                            prices.length = 0;
                            donnees.forEach(data => {
                                labels.push(data.date);
                                prices.push(parseFloat(data.prix));
                            });
                        }
                        chargerGraphique(produitNom)

                    }
                {% endfor %}
                // Personnaliser le popup en fonction du symbole cliqué
                popupTitle.innerText = `${symbolText} - ${produitNom}`;
                popupRisque.innerText = `Risque: ${produitRisque}`;
                popupTendance.innerText = `${produitTendance} - 6 dernier mois`
                popupPrix.innerText = `${produitPrix}`

                popupTotal.innerText = `--`;
                popupQte.innerText = `--`;
                // Met à jour le total et la quantité du produit affichée dynamiquement
                produit_Qte.addEventListener('input', () => {
                    const quantite = parseInt(produit_Qte.value);
                    const prix = parseFloat(popupPrix.innerText);

                    if (!isNaN(quantite) && !isNaN(prix)) {
                        total = quantite * prix;
                        popupTotal.innerText = `${total.toFixed(2)} $`;
                        popupQte.innerText = quantite;
                    } else {
                        popupTotal.innerText = `--`;
                        popupQte.innerText = `--`;
                    }
                });
                if (produitTendance.split('+')){
                    popupTendance.style.color = '#34E519'
                } else{
                    popupTendance.style.color = 'red'
                }

                if (crypto && !action){
                    popupType.innerText = `Cryptomonnaie`;
                }
                if (action && !crypto){
                    popupType.innerText = `Action`;
                }

                // Afficher le popup
                produit_info.style.display = "flex";
            });
        });




        // --- Initialisation du graphique principal ---
        var ctx = document.getElementById('stockChart').getContext('2d');
        var stockChart = new Chart(ctx, {
            // Configuration du graphique avec Chart.js
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Prix ($)',
                    data: prices,
                    borderColor: '#FF4F8B',
                    backgroundColor: 'rgba(255, 79, 139, 0.1)',
                    borderWidth: 2,
                    pointBackgroundColor: '#FF4F8B',
                    pointBorderColor: '#fff',
                    pointHoverRadius: 6,
                    pointRadius: 4,
                    tension: 0.3,
                    fill: true
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        labels: {
                            color: '#FFF',
                            font: {
                                size: 14,
                                weight: 'bold'
                            }
                        }
                    },
                    tooltip: {
                        backgroundColor: '#1e1e1e',
                        titleColor: '#FF4F8B',
                        bodyColor: '#FFF',
                        borderColor: '#FF4F8B',
                        borderWidth: 1
                    }
                },
                scales: {
                    x: {
                        grid: {
                            color: '#333'
                        },
                        ticks: {
                            color: '#AAA',
                            font: {
                                size: 12
                            }
                        }
                    },
                    y: {
                        grid: {
                            color: '#333'
                        },
                        ticks: {
                            color: '#AAA',
                            font: {
                                size: 12
                            }
                        }
                    }
                }
            }
        });
        // --- Mise à jour des données du graphique ---
        function chargerGraphique(nom) {
            // Récupère et affiche les données (labels, prices)
            let donnees
            if (crypto){
                donnees = cryptosGraph[nom];
            } else if (action){
                donnees = actionsGraph[nom];
            }
            if (donnees) {
                labels.length = 0;
                prices.length = 0;

                donnees.forEach((pt) => {
                    labels.push(pt.date);
                    prices.push(pt.prix);
                });
                stockChart.update();
            } else {
                alert("Données non trouvées pour " + nom);
            }
        }


        // --- Gestion de l'affichage du menu dropdown transaction ---
        bouton_action.addEventListener('click', () => {
            options.style.display = options.style.display === 'block' ? 'none' : 'block';
        });


        // Fonction pour ajouter une transaction
        function addTransaction(statut, prix, symbolText, produitNom) {
            let row = document.createElement('tr');

            row.innerHTML = `
                <td>${new Date().toLocaleString()}</td>
                <td>${symbolText}</td>
                <td>${produitNom}</td>
                <td>${prix.toFixed(2)}</td>
                <td>${statut}</td>
            `;

            transactionHistorique.appendChild(row);
        }

        //Fonction pour choisir si l'utilisateur veut acheter ou vendre un produit
        function selectOption(choix) {
            bouton_action.textContent = choix;
            options.style.display = 'none';
        }

        // Fermer le menu si on clique ailleurs
        document.addEventListener('click', (e) => {
            if (!document.querySelector('.dropdown-container').contains(e.target)) {
                options.style.display = 'none';
            }
        });


        // Fonction principale pour effectuer une transaction (fait à l'aide de chatgpt)
        function effectuerTransaction(){
            const quantite = parseInt(produit_Qte.value);
            if (quantite >= 1){

                // Convert cleaned value to a number
                let total_initial = cleanBalance();


                console.log(balance.innerText)
                let existingEntry = portefeuille.find(entry => entry.nom === popupTitle.innerText);
                if (bouton_action.textContent === 'Acheter' && (total_initial-total) >= 0){
                    calcul = total_initial-total
                    console.log('total initial: '+total_initial + ' ; Total: '+total)
                    balance.textContent = calcul.toLocaleString('fr-FR') +'$'
                    produit_Qte.value=0
                    addTransaction('Acheter', total, symbolText, produitNom);
                    if (!existingEntry) {
                        // Ajouter un nouvel objet si non trouvé
                        portefeuille.push({ nom: popupTitle.innerText, transactions: quantite, prix: total.toFixed(2) });
                    } else {
                        // Incrémenter les transactions si trouvé
                        existingEntry.transactions += quantite;
                        existingEntry.prix += total;
                    }


                } else if (bouton_action.textContent === 'Vendre'){
                    if (existingEntry.transactions >= quantite){
                        calcul = total_initial+total
                        balance.textContent = calcul.toLocaleString('fr-FR') +'$'
                        produit_Qte.value=0
                        addTransaction('Vendu', total, symbolText, produitNom);
                        existingEntry.transactions -= quantite;
                        existingEntry.prix -= total;
                    } else{
                        bouton_transaction.style.backgroundColor = 'red';
                    }
                }

                if (portefeuille.length > 0) {
                    var transacTotal = 0
                    portefeuille.forEach(e =>{
                        transacTotal += e.transactions
                        console.log(e.transactions)
                    })
                    console.log(transacTotal)
                    let nb_transaction = document.getElementById('nb-transactions');
                    if (nb_transaction) {
                        nb_transaction.innerText = transacTotal;
                    } else {
                        console.error('Élément nb_transaction est manquant');
                    }

                }
                afficherPortefeuilleDansTableau(portefeuille);
            }

        }

    // --- Affiche le portefeuille dans le tableau dynamique ---
        function afficherPortefeuilleDansTableau(portefeuille) {
            const tbody = document.getElementById('tab-produit');

            tbody.innerHTML = '';

            portefeuille.forEach(item => {
                const ligne = document.createElement('tr');

                // Cellule Produit (th)
                const cellProduit = document.createElement('th');
                cellProduit.scope = 'row';
                const produitText = document.createElement('h3');
                produitText.textContent = item.nom;
                produitText.id = item.nom;
                cellProduit.appendChild(produitText);

                // Cellule Qté
                const cellQte = document.createElement('td');
                const qteText = document.createElement('h3');
                qteText.textContent = item.transactions;
                qteText.id = item.nom + '_qte';
                cellQte.appendChild(qteText);

                // Cellule Prix
                const cellPrix = document.createElement('td');
                const prixText = document.createElement('h3');
                prixText.textContent = item.prix;
                prixText.id = item.nom + '_prix';
                cellPrix.appendChild(prixText);

                // Cellule Vendre
                const cellVendre = document.createElement('td');
                const vendreText = document.createElement('button');
                vendreText.textContent = 'Vendre';
                vendreText.id = item.nom + '_vendre';
                vendreText.addEventListener('click', () => {
                    boutonVendrePortefeuille(item.transactions, item);
                });
                cellVendre.appendChild(vendreText);

                // Ajouter les cellules à la ligne
                ligne.appendChild(cellProduit);
                ligne.appendChild(cellQte);
                ligne.appendChild(cellPrix);
                ligne.appendChild(cellVendre);

                // Ajouter la ligne au tableau
                tbody.appendChild(ligne);
            });
        }
        // --- Nettoyage du solde (supprime $ et espaces) ---
        function cleanBalance(){
            let cleanBalance = balance.textContent
                    .trim() // Removes any leading/trailing spaces
                    .replace('$', '') // Removes the dollar sign
                    .replace(/\s+/g, ''); // Removes all spaces (including non-breaking ones)
            return parseFloat(cleanBalance);
        }

        // --- Fonction bouton "Vendre" depuis le tableau ---
        function boutonVendrePortefeuille(quantite, item) {
            nouveau_total = parseFloat(document.getElementById(item.nom + '_prix').innerText)
            item.prix = nouveau_total;
            console.log('Nouveau total'+nouveau_total)
            if (quantite >= 1){


                let total_initial = cleanBalance();


                if (item.transactions >= quantite){
                    let calcul = total_initial+nouveau_total
                    balance.textContent = calcul.toLocaleString('fr-FR') +'$'
                    addTransaction('Vendu', nouveau_total, item.nom, item.nom);
                    item.transactions -= quantite;
                    item.prix -= nouveau_total;
                    document.getElementById(item.nom + '_qte').textContent = item.transactions;
                    document.getElementById(item.nom + '_prix').textContent = item.prix;
                    console.log('Prix: '+item.prix)
                } else{
                    bouton_transaction.style.backgroundColor = 'red';
                }

                if (portefeuille.length > 0) {
                    let transacTotal = 0
                    portefeuille.forEach(e =>{
                        transacTotal += e.transactions
                        console.log(e.transactions)
                    })
                    console.log(transacTotal)
                    let nb_transaction = document.getElementById('nb-transactions');
                    if (nb_transaction) {
                        nb_transaction.innerText = transacTotal;
                    } else {
                        console.error('Élément nb_transaction est manquant');
                    }

                }
            }
        }


        // --- Simulation Monte Carlo : appel AJAX + affichage résultats ---
        lancerSimulation = document.getElementById('lancer')
        const lancerH2 = document.querySelector("#lancer h2");
        chargement = document.getElementById('chargement')
        let redemarrer = false
        lancerSimulation.addEventListener('click', () => {
            // Prépare et envoie chaque produit pour simulation
            // Affiche les graphiques de résultats dynamiques
            if (redemarrer === true){
                location.reload()
                return
            } else if (portefeuille.length === 0){
                return;
            }
            //Afficher le chargement
            chargement.style.display = 'block';
            document.querySelector('.tableau-simulation').style.display = 'none'
            console.log(portefeuille)
            rendement = document.getElementById('rendement')
            rendement_total = 0
            let montant_avant_sim = 0
            portefeuille.forEach(e =>{
                console.log(e.nom)
                var symbole = e.nom.split(' - ')[0]
                var message = e.nom.split(' - ')[0] + ' - '+nbannees
                console.log(symbole)
                $.ajax({
                    type: 'POST',
                    url: '/tableau-bord/lancer_simulation',
                    data: {message: message, csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function (reponse) {
                      console.log("Simulation reçue pour :", symbole);

                      // Créer un canvas pour chaque graphique
                      const canvasId = `chart-${symbole}`;
                      const container = document.getElementById('graphes-montecarlo');
                      const chartBlock = document.createElement('div');
                      rendement_moyen = reponse.response.moyenne.toFixed(2)*e.transactions - e.prix
                      chartBlock.innerHTML = `<h3>${symbole} x ${e.transactions}</h3><canvas id="${canvasId}" width="600"
                      height="300"></canvas><h3>Rendement moyen: ${rendement_moyen.toFixed(2)} $</h3>`;
                      container.appendChild(chartBlock);

                      // Récupérer les simulations
                      const data = reponse.response.simulations;
                      const moyenne1 = reponse.response.moyenne;
                      rendement_total += moyenne1*e.transactions
                      console.log(moyenne1)
                      const datasets = data.map((simulation, i) => ({
                        label: `Sim ${i + 1}`,
                        data: simulation,
                        borderColor: `hsl(${(i * 50) % 360}, 70%, 50%)`,
                        fill: false,
                        borderWidth: 1,
                        pointRadius: 0
                      }));

                      //Afficher le graphique
                      const ctx = document.getElementById(canvasId).getContext('2d');
                      new Chart(ctx, {
                        type: 'line',
                        data: {
                          labels: Array.from({ length: data[0].length }, (_, i) => i),
                          datasets: datasets
                        },
                        options: {
                          responsive: true,
                          plugins: {
                            legend: { display: false }
                          },
                          scales: {
                            x: { title: { display: true, text: 'Temps (jours)' }},
                            y: { title: { display: true, text: 'Prix simulé ($)' }}
                          }
                        }
                      });
                      //Cacher le chargement
                      chargement.style.display = 'none';
                      lancerH2.innerText = 'Redémarrer'

                      //Afficher les résultats
                      montant_avant_sim += e.prix;
                      rendement_pourcentage = (rendement_total-montant_avant_sim)/montant_avant_sim*100
                      rendement.textContent = rendement_pourcentage.toFixed(2) + '%'
                        document.getElementById(e.nom+'_prix').textContent = (moyenne1*e.transactions).toFixed(2)
                    }, error: function () {
                      console.log("Erreur lors de la simulation");
                    }
                })

            })
            redemarrer = true

        })
    </script>
{% endblock %}