<!DOCTYPE html>
<html lang="fr">

{% load static %}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éducation</title>
    <link rel="icon" href="{% static 'images/Logo EcoNova.png' %}" type="image/x-icon">

    <link rel="icon" href="images/Logo EcoNova.png">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/education.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<!-- Dessus de la page + Menu -->
<header class="header">
    <div class="logoSite">
        <a href="/"><img src="{% static 'images/Logo EcoNova.png' %}" alt="Logo ÉcoNova Finance"
                         class="logoSite"></a>
        <h2 class="econova-text">EcoNova</h2>
    </div>

    <div class="menu">
        <div class="menu-btn">
            <div class="btn-line" id="btn-line1"></div>
            <div class="btn-line" id="btn-line2"></div>
            <div class="btn-line" id="btn-line3"></div>
        </div>
    </div>

    <div class="menu-slide">
        {% if user.is_authenticated %}
            <h2 class="navigation">Bienvenue {{ user.username }}</h2>
        {% else %}
            <h2 class="navigation">NAVIGATION</h2>
        {% endif %}

        <div class="liste-onglets">
            <ul>
                <h2><a href="">Simulateur</a></h2>
                <h2><a href="">Suivi Financier</a></h2>
                <h2><a href="">Bourse</a></h2>
                <h2><a href="">Nova</a></h2>
                <h2><a href="">Éducation Financière</a></h2>
            </ul>
        </div>
        <div class="menu-connexion">
            {% if not user.is_authenticated %}
                <a href="connexion">
                    <button class="connexion">Connexion</button>
                </a>
                <a href="rejoindre">
                    <button class="rejoindre">Rejoindre</button>
                </a>
            {% else %}
                <a href="deconnexion">
                    <button class="deconnexion">Se déconnecter</button>
                </a>
                <a href="tableau-bord/profil">
                    <h3 class="tableau-bord">Tableau de bord</h3>

                </a>
            {% endif %}

        </div>
        <h3>Avec NOVA, Naviguez facilement entre outils de suivi et simulations, Optimisez vos finances, développez une
            Vision stratégique et profitez d’un Accompagnement personnalisé. Budget, épargne, investissement : maîtrisez
            votre avenir financier en toute confiance.</h3>
        <div class="logoSite">
            <a href=""><img src="{% static 'images/Logo EcoNova.png' %}" alt="Logo ÉcoNova Finance"
                            class="logoSite"></a>
            <h2 class="econova-text">EcoNova</h2>
        </div>
    </div>
</header>


<!-- Boite principale (contenu: deux boutons de sections) -->
<div class="container">
    <main>
        <div class="description">
            <h2>Éducation Financière</h2>
            <p>L'outil d'éducation financière t'aide à mieux comprendre ton profil d'investisseur et les
                finances.
                <br>
                Choisis de répondre au questionnaire de profil d'investisseur ou de t'informer sur
                les finances pour en apprendre plus avec NOVA!</p>
        </div>

        <div class="sections">
            <!-- Dictionnaire -->
            <div class="section" id="concepts-btn"
                 onclick="toggleActiveSection(this,'', `
<div class='dropdown'>
  <button class='dropbtn'>
        Catégories <span class='chevron fas fa-chevron-down'></span>
      </button>
  <div class='dropdown-content'>
    <a href='#Concepts financiers'>Concepts financiers</a>
    <a href='#Types d investissement'>Types d'investissement</a>
    <a href='#Strategies d investissement'>Stratégies d'investissement</a>
    <a href='https://lautorite.qc.ca/grand-public' target ='_blank'><i class='fas fa-link'></i>AMF</a>
  </div>
</div>

<h1 id='Concepts financiers'>CONCEPTS FINANCIERS</h1>

<h2>Termes de base</h2>
<div class='concept-item' id='Budget'>
  <div class='concept-bar'></div>
  <div class='concept-definition'>
    <h3><strong>Budget</strong></h3>
    <p>Planification des <a href='#Revenu'>revenus</a> et des <a href='#Dépenses'>dépenses</a> sur une période donnée.</p>
  </div>
</div>

<div class='concept-item' id='Revenu'>
  <div class='concept-bar'></div>
  <div class='concept-definition'>
    <h3><strong>Revenu</strong></h3>
    <p>Somme d'argent générée par une personne ou une organisation.</p>
  </div>
</div>

<div class='concept-item' id='Dépenses'>
  <div class='concept-bar'></div>
  <div class='concept-definition'>
    <h3><strong>Dépenses</strong></h3>
    <p>Sommes d'argent utilisées pour acheter des biens et services.</p>
  </div>
</div>

<div class='concept-item' id='Épargne'>
  <div class='concept-bar'></div>
  <div class='concept-definition'>
    <h3><strong>Épargne</strong></h3>
    <p>Partie des <a href='#Revenu'>revenus</a> qui est mise de côté, souvent pour réaliser une projet futur ou faire
        face à des imprévus.</p>
  </div>
</div>

<div class='concept-item' id='Investissement'>
  <div class='concept-bar'></div>
  <div class='concept-definition'>
    <h3><strong>Investissement</strong></h3>
    <p>Placement d'argent dans des <a href='#Actif'>actifs</a> pour obtenir un retour financier.</p>
  </div>
</div>

<br>
<h2>Termes financiers courants</h2>

<div class='concept-item' id='Actif'>
  <div class='concept-bar'></div>
  <div class='concept-definition'>
    <h3><strong>Actif</strong></h3>
    <p>Ressources possédées par une personne ou une organisation, susceptibles de générer des <a href='#Revenu'>revenus</a>
        et croître avec les temps.</p>
  </div>
</div>

<div class='concept-item' id='Passif'>
  <div class='concept-bar'></div>
  <div class='concept-definition'>
    <h3><strong>Passif</strong></h3>
    <p>Obligations financières ou dettes à rembourser.</p>
  </div>
</div>

<div class='concept-item' id='Rentabilité'>
  <div class='concept-bar'></div>
  <div class='concept-definition'>
    <h3><strong>Rentabilité</strong></h3>
    <p>Mesure de la capacité d’un <a href='#Investissement'>investissement</a> ou d’une entreprise à générer des bénéfices.</p>
  </div>
</div>

<div class='concept-item' id='Liquidité'>
  <div class='concept-bar'></div>
  <div class='concept-definition'>
    <h3><strong>Liquidité</strong></h3>
    <p>Facilité avec laquelle un <a href='#Actif'>actif</a> peut être converti en argent liquide sans affecter son prix.</p>
  </div>
</div>

<div class='concept-item' id='Taux d intérêt'>
  <div class='concept-bar'></div>
  <div class='concept-definition'>
    <h3><strong>Taux d'intérêt</strong></h3>
    <p>Pourcentage du montant emprunté ou <a href='#Investissement'>investi</a>, payé en tant que rémunération pour
        l'utilisation de l'argent.</p>
  </div>
</div>

<br>
<h2>Termes liés à l’investissement</h2>
<div class='concept-item' id='Actions'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Actions</strong></h3>
        <p>Titres financiers représentant une part de propriété dans une entreprise.</p>
    </div>
</div>

<div class='concept-item' id='Obligations'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Obligations</strong></h3>
        <p>Instruments financiers utilisés par les gouvernements ou les entreprises pour emprunter de l'argent.</p>
    </div>
</div>

<div class='concept-item' id='Portefeuille d investissement'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Portefeuille d'investissement</strong></h3>
        <p>Ensemble des <a href='#Actif'>actifs</a> financiers détenus par un investisseur.</p>
    </div>
</div>

<div class='concept-item' id='Diversification'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Diversification</strong></h3>
        <p>Stratégie consistant à répartir les <a href='#Investissement'>investissements</a> sur plusieurs
            <a href='#Actif'>actifs</a> pour réduire les risques.</p>
    </div>
</div>

<div class='concept-item' id='Rendement'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Rendement</strong></h3>
        <p>Mesure du gain ou de la perte généré par un <a href='#Investissement'>investissement</a>, exprimé en
            pourcentage.</p>
    </div>
</div>

<br>
<h2>Éducation financière et concepts avancés</h2>
<div class='concept-item' id='Analyse fondamentale'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Analyse fondamentale</strong></h3>
        <p>Méthode d'évaluation d'une entreprise en analysant ses états financiers et son environnement économique.</p>
    </div>
</div>

<div class='concept-item' id='Analyse technique'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Analyse technique</strong></h3>
        <p>Utilisation de graphiques et de modèles mathématiques pour prédire les mouvements futurs des prix des
            <a href='#Actif'>actifs</a>.</p>
    </div>
</div>

<div class='concept-item' id='Risk management'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Risk management</strong></h3>
        <p>Stratégies utilisées pour minimiser l'impact des risques financiers sur les
            <a href='#Investissement'>investissements</a>.</p>
    </div>
</div>

<div class='concept-item' id='Taux de rendement interne'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Taux de rendement interne (TRI)</strong></h3>
        <p>Taux d'intérêt qui égalise la valeur actuelle nette d'un <a href='#Investissement'>investissement</a> avec
            ses flux de trésorerie futurs.</p>
    </div>
</div>

<div class='concept-item' id='Inflation'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Inflation</strong></h3>
        <p>Hausse générale et persistante des prix des biens et services au fil du temps.</p>
    </div>
</div>

<br>
<h2>Concepts liés à la gestion de portefeuille</h2>
<div class='concept-item' id='Allocation d actifs'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Allocation d'actifs</strong></h3>
        <p>Répartition des <a href='#Investissement'>investissements</a> dans différentes catégories
            d'<a href='#Actif'>actifs</a> (actions, obligations, immobilier, etc.) pour optimiser le rendement et le risque.</p>
    </div>
</div>

<div class='concept-item' id='Ratio de Sharpe'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Ratio de Sharpe</strong></h3>
        <p>Mesure de la performance d'un <a href='#Investissement'>investissement</a> en fonction de sa volatilité
            (<a href='#Risk management'>risque</a>).</p>
    </div>
</div>

<div class='concept-item' id='Beta'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Beta</strong></h3>
        <p>Mesure de la volatilité d'un <a href='#Actif'>actif</a> par rapport à un indice de référence, comme le marché
            boursier.</p>
    </div>
</div>

<div class='concept-item' id='Horizon de placement'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Horizon de placement</strong></h3>
        <p>Période pendant laquelle un investisseur prévoit de maintenir son <a href='#Investissement'>investissement</a>.</p>
    </div>
</div>

<br>
<h2>Termes liés à la fiscalité et aux taxes</h2>
<div class='concept-item' id='Impôt sur le revenu'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Impôt sur le revenu</strong></h3>
        <p>Somme que les individus ou les entreprises doivent verser à l'État, calculée en fonction de leurs gains ou
            de leur <a href='#Revenu'>revenu</a> soumis à l'imposition.</p>
    </div>
</div>

<div class='concept-item' id='Crédit d impôt'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Crédit d'impôt</strong></h3>
        <p>Montant déduit des <a href='#Impôt sur le revenu'>impôts dus</a>, souvent pour encourager certains
            comportements (comme l'<a href='#Investissement'>investissement</a> dans des secteurs spécifiques).</p>
    </div>
</div>

<div class='concept-item' id='Déduction fiscale'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Déduction fiscale</strong></h3>
        <p>Montant qui peut être soustrait du <a href='#Revenu'>revenu brut</a> pour réduire la base imposable.</p>
    </div>
</div>

<br><br>
<h1 id='Types d investissement'>TYPES D'INVESTISSEMENT</h1>

<h2>Investissements en actions</h2>
<div class='concept-item' id='Actions ordinaires'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Actions ordinaires</strong></h3>
        <p>Titres de propriété dans une entreprise qui permettent de bénéficier de
            <a href='#Rendement'>dividendes</a> et d’une valorisation de l’entreprise.</p>
    </div>
</div>

<div class='concept-item' id='Actions privilégiées'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Actions privilégiées</strong></h3>
        <p>Ces actions donnent droit à des <a href='#Rendement'>dividendes</a> fixes, généralement avant les
            <a href='#Actions ordinaires'>actions ordinaires</a>, mais n'offrent pas de droit de vote dans l'entreprise.</p>
    </div>
</div>

<br>
<h2>Obligations</h2>
<div class='concept-item' id='Obligations d État'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Obligations d'État</strong></h3>
        <p>Titres de dette émis par les gouvernements. Elles sont considérées comme moins risquées, surtout si elles
            sont émises par des pays économiquement stables.</p>
    </div>
</div>

<div class='concept-item' id='Obligations d entreprises'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Obligations d'entreprises</strong></h3>
        <p>Titres de dette émis par des sociétés. Elles offrent généralement des <a href='#Rendement'>rendements</a> plus élevés que
           les <a href='#Obligations d État'>obligations d'État</a>, mais comportent également un risque accru.</p>
    </div>
</div>

<div class='concept-item' id='Obligations municipales'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Obligations municipales</strong></h3>
        <p>Titres de dette émis par les autorités locales (villes, départements, etc.). Elles sont souvent exemptées
            d'<a href='#Impôt sur le revenu'>impôts</a> dans certains pays.</p>
    </div>
</div>

<br>
<h2>Investissements immobiliers</h2>
<div class='concept-item' id='Immobilier résidentiel'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Immobilier résidentiel</strong></h3>
        <p>Acheter des maisons, appartements ou immeubles pour les louer ou les revendre à profit.</p>
    </div>
</div>

<div class='concept-item' id='Investissement actif'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Investissement actif</strong></h3>
        <p>Stratégie où l’investisseur cherche à surpasser le marché en sélectionnant des
            <a href='#Actif'>actifs</a> spécifiques.</p>
    </div>
</div>

<div class='concept-item' id='Immobilier commercial'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Immobilier commercial</strong></h3>
        <p>Investir dans des biens immobiliers destinés à des activités commerciales, comme des bureaux, des magasins
            ou des entrepôts.</p>
    </div>
</div>

<div class='concept-item' id='Fonds immobiliers'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Fonds immobiliers (REITs)</strong></h3>
        <p>Fonds qui permettent d'investir dans l'immobilier sans avoir à posséder directement de biens immobiliers.
            Les REITs génèrent souvent des <a href='#Rendement'>revenus</a> sous forme de dividendes.</p>
    </div>
</div>

<br>
<h2>Investissements en matières premières (commodités)</h2>
<div class='concept-item' id='Or argent platine'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Or, argent, platine</strong></h3>
        <p>Métaux précieux souvent utilisés comme valeurs refuges en période d’incertitude économique.</p>
    </div>
</div>

<div class='concept-item' id='Pétrole gaz naturel'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Pétrole, gaz naturel</strong></h3>
        <p>Investir dans les ressources énergétiques peut se faire par l'achat de <a href='#Contrats à terme'>contrats à terme</a>,
            d'actions de sociétés pétrolières ou de fonds spécialisés.</p>
    </div>
</div>

<div class='concept-item' id='Agriculture'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Agriculture</strong></h3>
        <p>Investir dans les produits agricoles comme le maïs, le soja, ou le café, soit via des
            <a href='#Contrats à terme'>contrats à terme</a>, soit par l'achat d'actions de sociétés agricoles.</p>
    </div>
</div>

<br>
<h2>Fonds d'investissement</h2>
<div class='concept-item' id='Fonds communs de placement'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Fonds communs de placement</strong></h3>
        <p>Ces fonds regroupent l'argent de plusieurs investisseurs pour acheter une diversité d'<a href='#Actif'>actifs</a>
            (actions, obligations, etc.). Ils offrent une gestion professionnelle.</p>
    </div>
</div>

<div class='concept-item' id='Fonds indiciels'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Fonds indiciels (ETF)</strong></h3>
        <p>Fonds qui répliquent la performance d'un indice boursier, comme le S&P 500. Ces fonds ont généralement des frais
            plus bas que les fonds communs de placement.</p>
    </div>
</div>

<div class='concept-item' id='Fonds à gestion active'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Fonds à gestion active</strong></h3>
        <p>Fonds où un gestionnaire de fonds prend des décisions d’<a href='#Investissement'>investissement</a> en
            fonction des opportunités du marché, contrairement aux fonds indiciels.</p>
    </div>
</div>

<br>
<h2>Investissements alternatifs</h2>
<div class='concept-item' id='Private equity'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Private equity</strong></h3>
        <p>Investir dans des entreprises non cotées en bourse. Cela peut inclure des investissements dans des startups
            ou des entreprises en difficulté ou en croissance.</p>
    </div>
</div>

<div class='concept-item' id='Capital risque'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Capital-risque (venture capital)</strong></h3>
        <p>Investissement dans des startups à fort potentiel de croissance mais à haut risque. Les investisseurs apportent
            des fonds en échange de parts dans l’entreprise.</p>
    </div>
</div>

<div class='concept-item' id='Crowdfunding immobilier'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Crowdfunding immobilier</strong></h3>
        <p>Investir dans des projets immobiliers via des plateformes de financement participatif.</p>
    </div>
</div>

<br>
<h2>Comptes d’épargne et produits à faible risque</h2>
<div class='concept-item' id='Comptes d épargne'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Comptes d'épargne</strong></h3>
        <p>Comptes bancaires rémunérés qui offrent une faible <a href='#Rentabilité'>rentabilité</a> mais un haut niveau
            de sécurité.</p>
    </div>
</div>

<div class='concept-item' id='Certificats de dépôt'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Certificats de dépôt (CD)</strong></h3>
        <p>Produits d'<a href='#Investissement'>investissement</a> à faible risque proposés par les banques, avec des
            <a href='#Rendement'>rendements</a> fixes sur une période déterminée.</p>
    </div>
</div>

<div class='concept-item' id='Comptes à terme'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Comptes à terme</strong></h3>
        <p>Similaires aux <a href='#Certificats de dépôt'>certificats de dépôt</a>, mais plus flexibles quant à la
            durée de l’<a href='#Investissement'>investissement</a>.</p>
    </div>
</div>

<br>
<h2>Cryptomonnaies</h2>
<div class='concept-item' id='Bitcoin Ethereum'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Bitcoin, Ethereum</strong></h3>
        <p>Monnaies numériques basées sur la blockchain. Ces <a href='#Investissement'>investissements</a>
            sont connus pour leur volatilité et sont considérés comme très spéculatifs.</p>
    </div>
</div>

<div class='concept-item' id='Altcoins'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Altcoins</strong></h3>
        <p>Autres cryptomonnaies en dehors de <a href='#Bitcoin Ethereum'>Bitcoin et Ethereum</a>, comme Litecoin, Ripple,
            ou Polkadot.</p>
    </div>
</div>

<br>
<h2>Produits dérivés</h2>
<div class='concept-item' id='Contrats à terme'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Contrats à terme (Futures)</strong></h3>
        <p>Contrats obligatoires d'achat ou de vente d'un <a href='#Actif'>actif</a> à une date future et à un prix
            déterminé. Utilisés pour la spéculation ou la couverture des <a href='#Risk management'>risques</a>.</p>
    </div>
</div>

<div class='concept-item' id='Options'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Options</strong></h3>
        <p>Contrats donnant à l'acheteur le droit, mais non l’obligation, d'acheter ou de vendre un
            <a href='#Actif'>actif</a> à un prix donné avant une date précise.</p>
    </div>
</div>

<br>
<h2>Investissement socialement responsable (ISR)</h2>
<div class='concept-item' id='Fonds ISR'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Fonds ISR</strong></h3>
        <p>Investissements qui prennent en compte des critères environnementaux, sociaux et de gouvernance (ESG) en plus
            des critères financiers.</p>
    </div>
</div>

<div class='concept-item' id='Impact investing'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Impact investing</strong></h3>
        <p>Investir dans des projets ayant un impact positif mesurable sur la société et l’environnement, tout en
            recherchant un <a href='#Rendement'>retour financier</a>.</p>
    </div>
</div>

<br><br>
<h1 id='Strategies d investissement'>STRATÉGIE D'INVESTISSEMENT</h1>

<div class='concept-item' id='Investissement passif'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Investissement passif</strong></h3>
        <p>Stratégie d'<a href='#Investissement'>investissement</a> où l'objectif est de suivre le marché plutôt que de
            tenter de le battre, souvent via des <a href='#Fonds indiciels'>fonds indiciels</a>.</p>
    </div>
</div>

<div class='concept-item' id='Investissement actif'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Investissement actif</strong></h3>
        <p>Stratégie où l’investisseur cherche à surpasser le marché en sélectionnant des <a href='#Actif'>actifs</a> spécifiques.</p>
    </div>
</div>

<div class='concept-item' id='Investissement à long terme'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Investissement à long terme</strong></h3>
        <p>Stratégie qui consiste à conserver des <a href='#Actif'>actifs</a> sur une longue période (souvent plusieurs
            années) pour bénéficier de la croissance du marché.</p>
    </div>
</div>

<div class='concept-item' id='Investissement à court terme'>
    <div class='concept-bar'></div>
    <div class='concept-definition'>
        <h3><strong>Investissement à court terme</strong></h3>
        <p>Stratégie où l'investisseur cherche à tirer profit de petites fluctuations de prix à court terme.</p>
    </div>
</div>

`)">
                <i class="fas fa-book"></i>
                <h3><strong>Dictionnaire</strong></h3>
                <p class="hidden-text">Découvre les termes financiers clés pour enrichir tes connaissances!</p>

            </div>

            <!-- Questionnaire -->
            <div class="section" id="profil-btn"
                 onclick="toggleActiveSection(this, '', `
<h1 id='profil'>Profil d'investisseur --NOVA--</h1>

<h3 id='explication' style='max-width: 950px; margin: auto; background: rgba(0,0,0,0.34); border-left: 4px solid #fe66c4; padding: 16px; border-radius: 6px;'>

    <strong>Salut, c'est Nova !</strong>
    <br>
        Vous allez répondre à <strong>10 questions</strong> sous forme de mises en situation, chacune proposant <strong>3 à 4 choix</strong>.
    <br>
    <br>
        Vos réponses me permettront d'analyser votre profil et de déterminer si vous êtes un investisseur <strong>prudent,
        modéré ou audacieux</strong>. En cas d'incohérence, je vous en informerai.
    <br>
    <br>
        À la fin, vous recevrez un <strong>rapport personnalisé</strong> comprenant :
        <ul style='margin-top: 10px; padding-left: 20px;'>
            <li>🧑‍💼 Votre type d'investisseur</li>
            <li>📊 Vos comportements financiers</li>
            <li>💰 Une répartition suggérée en CAD avec des produits adaptés au marché canadien</li>
        </ul>
    <br>
        Vous aurez également la possibilité de refaire le test avec des questions plus avancées si vous souhaitez approfondir
        votre analyse.
    <br>
    <br>
        <span style='display: inline-block; background: rgba(254,102,224,0.62); border: 1px solid rgba(254,102,196,0.49); padding: 12px; border-radius: 4px;'>
            📌 <strong>Important :</strong> Si vous me posez une question pendant le quiz, je vous répondrai brièvement avant de vous rediriger vers notre chatbot principal.
        </span>
    <br><br>
</h3>

<br>
<button class='btnCommencer' onclick='demarrerChat()'><a style='color: white; text-decoration: none;' href='#profil'>Commencer</a></button>

<div class='chatBox' id='chat-box'>
    <div class='messages' id='conteneurMessages'> </div>

    <div class='zoneSaisie'>
        <input onclick='enter()' type='text' id='saisieMessage' class='champMessage' placeholder='Répondez ici...' />

        <button id='envoyer-message' class='btnEnvoyer' onclick='envoyerMessage()'>Envoyer</button>
    </div>
</div>
`)">
                <i class="fas fa-user-check"></i>
                <h3><strong>Profil d'investisseur</strong></h3>
                <p class="hidden-text">Remplis un questionnaire pour mieux comprendre ton profil et tes objectifs!</p>
            </div>

        </div>

        <div id="infoBox" class="boite-texte"></div>

    </main>
</div>


<!--Bouton "remonter la page"-->
<button class="upButton" onclick="scrollToTop()">
    <i class="fas fa-arrow-up"></i>
</button>

<!-- Pied de la page -->
<section class="copyrights">
    <h3>© 2025 NOVA. Tous droits réservés.</h3>
    <h3> Créé par Micheal Gyan, Gabriel-Ngoma Riendeau, Samy Baouche, Mohammed El Ouaabani et Nancy Bechara.</h3>
</section>

<script>
    let lastClicked = null;

    <!-- JS Dictionnaire -->
    function toggleInfo(titre, texte) {
        var boite = document.getElementById("infoBox");

        if (lastClicked === titre) {
            boite.style.display = "none";
            lastClicked = null;
        } else {
            boite.innerHTML = "<h2>" + titre + "</h2><p>" + texte + "</p>";
            boite.style.display = "block";
            lastClicked = titre;
        }

    }

    <!-- JS Questionnaire -->
    function toggleActiveSection(button, title, content) {
        var boite = document.getElementById("infoBox");

        document.querySelectorAll('.section').forEach(function (section) {
            section.classList.remove('active');
        });

        if (lastClicked === title) {
            boite.style.display = "none";
            lastClicked = null;
        } else {
            button.classList.add('active');
            boite.innerHTML = "<h2>" + title + "</h2>" + content;
            boite.style.display = "block";
            lastClicked = title;
        }
        document.getElementById('profil').scrollIntoView({behavior: 'smooth'});

    }

    <!-- Remonter la page -->
    function scrollToTop() {
        window.scrollTo({top: 0, behavior: 'smooth'});
    }

    window.onscroll = function () {
        var button = document.querySelector('.upButton');
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            button.classList.add('show');
        } else {
            button.classList.remove('show');
        }
    };

</script>

<!-- JS CHATBOX profil -->
<script>
    function demarrerChat() {
        document.getElementById('explication').style.display = 'none';

        document.querySelector('.btnCommencer').style.display = 'none';

        const chatBox = document.getElementById('chat-box');
        chatBox.style.display = 'flex';

        setTimeout(function () {
            envoyerAI('Bonjour')
            envoyerMessage("Salut, c'est Patate!", 'ordinateur');
        }, 500);
    }


    /**
     function envoyerMessage(message = "", expediteur = "utilisateur") {
     const champMessage = document.getElementById('saisieMessage');
     const conteneurMessages = document.getElementById('conteneurMessages');

     const texteMessage = message || champMessage.value.trim();
     if (texteMessage !== "") {
     const messageElement = document.createElement('div');
     messageElement.classList.add(expediteur === 'ordinateur' ? 'messageOrdinateur' : 'messageUtilisateur');
     messageElement.textContent = texteMessage;

     conteneurMessages.appendChild(messageElement);

     conteneurMessages.scrollTop = conteneurMessages.scrollHeight;

     if (expediteur === 'utilisateur') {
     champMessage.value = '';
     }
     }
     }
     **/
    function envoyerMessage() {
        /*Zone du chat*/
        chatBox = document.getElementById('conteneurMessages')
        /*Message de l'utilisateur et du bot*/
        message_element_utilisateur = document.createElement("p")
        message_element_utilisateur.classList.add("messageUtilisateur")
        message_element_bot = document.createElement("p")
        message_element_bot.classList.add("messageOrdinateur")
        /*Message d'erreur*/
        message_element_erreur = document.createElement("p")
        message_element_erreur.innerHTML = "Erreur"

        /*Envoyer le message de l'utilisateur dans la zone de chat*/
        message_utilisateur = document.getElementById('saisieMessage').value
        if (message_utilisateur.trim() === '') return;

        message_element_utilisateur.innerHTML = message_utilisateur
        chatBox.appendChild(message_element_utilisateur)
        document.getElementById('saisieMessage').value = ""

        /*Envoyer la réponse du bot dans la zone de chat*/
        console.log(message_utilisateur)
        message_element_bot.innerHTML = {{ salutation_bot }}
        chatBox.appendChild(message_element_bot)
        envoyerAI(message_utilisateur)
        scrollToBottom()

    }
    function envoyerAI(message) {
        $.ajax({
            type: 'POST',
            url: 'qstProfil',
            data: {message: message, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function (reponse) {
                message_element_bot.innerHTML = reponse.response
                chatBox.appendChild(message_element_bot)
            },
            error: function () {
                chatBox.appendChild(message_element_erreur)
            }
        })
    }

    //fonctionne pas
    function scrollToBottom() {
        let chatBox = document.getElementById("conteneurMessage");
        setTimeout(() => {
            chatBox.scrollTo({
                bottom: chatBox.scrollHeight,
                behavior: "smooth"
            });
        }, 100);
    }

    //fonctionne pas
    function enter() {
        document.getElementById("saisieMessage").addEventListener("keyup", function (event) {
            event.preventDefault();
            if (event.key === "Enter") {
                document.getElementById("btnEnvoyer").click();
                console.log('test')
            }
        });
    }
</script>

<!-- JS Menu -->
<script>
    menubar = document.querySelector('.menu-btn');
    menuslide = document.querySelector('.menu-slide');
    menubar.addEventListener("click", () => {
        menuslide.classList.toggle("menu_active");
        menubar.classList.toggle("x_active");
        console.log("ok");
    });</script>

</body>

</html>