{% load static %}
<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="UTF-8">
    <title>ÉcoNova Finance</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet"> <!-- Importation de la police Poppins -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="{% static 'images/Logo EcoNova.png' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

  <header class="header">
      <div class="logoSite">
          <a href=""><img src="{% static 'images/Logo EcoNova.png' %}" alt="Logo ÉcoNova Finance" class="logoSite"></a>
          <h2 class="econova-text">EcoNova</h2>
      </div>

        <div class="menu">
            {% if not user.is_authenticated %}
            	<a href="connexion"><button class="connexion">Connexion</button></a>
                <a href="rejoindre"><button class="rejoindre">Rejoindre</button></a>
            {% else %}
                <a href="deconnexion"><button class="deconnexion">Se déconnecter</button></a>
            {% endif %}

            <div class="menu-btn">
                <div class="btn-line" id="btn-line1"></div>
                <div class="btn-line" id="btn-line2"></div>
                <div class="btn-line" id="btn-line3"></div>
            </div>
        </div>

    <div class="menu-slide">
        {% if user.is_authenticated %}
            <h2 class="navigation">Bienvenue {{ user.username }}</h2>
            <div class="liste-onglets">
                <ul>
                    <h2><a href="tableau-bord/simulation">Simulateur</a></h2>
                    <h2><a href="">Suivi Financier</a></h2>
                    <h2><a href="tableau-bord/bourse">Bourse</a></h2>
                    <h2><a href="tableau-bord/chatbot">Nova</a></h2>
                    <h2><a href="">Éducation Financière</a></h2>
                </ul>
            </div>
            <div class="menu-connexion">
                <a href="deconnexion"><button class="deconnexion">Se déconnecter</button></a>
                <a href="tableau-bord/page-principale">
                    <h3 class="tableau-bord">Tableau de bord</h3>
                    <lottie-player src="{% static 'json/dashboard-icon/Arrow left_custom_icon.json' %}"  loop hover></lottie-player>
                </a>
            </div>
        {% else %}
            <h2 class="navigation">NAVIGATION</h2>
            <div class="liste-onglets">
                <ul>
                    <h2><a href="">Simulateur</a></h2>
                    <h2><a href="">Suivi Financier</a></h2>
                    <h2><a href="">Bourse</a></h2>
                    <h2><a href="">Nova</a></h2>
                    <h2><a href="">Éducation Financière</a></h2>
                </ul>
            </div>
            <div class="menu-connexion">
                <a href="connexion"><button class="connexion">Connexion</button></a>
                <a href="rejoindre"><button class="rejoindre">Rejoindre</button></a>
            </div>
        {% endif %}
        <h3>Avec NOVA, Naviguez facilement entre outils de suivi et simulations, Optimisez vos finances, développez une Vision stratégique et profitez d’un Accompagnement personnalisé. Budget, épargne, investissement : maîtrisez votre avenir financier en toute confiance.</h3>
        <div class="logoSite">
            <a href=""><img src="{% static 'images/Logo EcoNova.png' %}" alt="Logo ÉcoNova Finance" class="logoSite"></a>
            <h2 class="econova-text">EcoNova</h2>
        </div>
    </div>

  </header>


  <div id="nova-bouton" class="chatbot" onclick="envoyerMessage()">
      <img src="{% static 'images/chatbot2.png' %}" alt="Logo ÉcoNova Finance">
  </div>
  <section class="chat-section" id="chat-section">
      <div id="chat-box" class="chat-box">
          {% if user.is_authenticated %}
          	<h2 class="bot-message">Bonjour {{ user.username }}, je suis NOVA, ton conseiller financier virtuel chez
              EcoNova. Je suis là pour t'aider à gérer et optimiser tes finances personnelles grâce à l'intelligence artificielle. 😊</h2>
          {% else %}
              <h2 class="bot-message">Bonjour, je suis NOVA, le conseiller financier virtuel chez
              EcoNova. Je suis là pour aider les utilisateurs à gérer et optimiser leurs finances personnelles grâce à
                  l'intelligence artificielle. 😊</h2>
          {% endif %}

      </div>
      <div class="message-utilisateur">
            <textarea onclick="enter()" type="text" id="user-input" placeholder="Pose ta question ici ..." ></textarea>
            <button id="envoyer-message" onclick="envoyerMessage()"><img src="{% static 'images/dashboard-icon/Arrow right.svg' %}"></button>
        </div>
  </section>
  <section class="presentation">
    <div class="slogan">
        <h1>Votre gestion financière, aussi simple qu'un clic !</h1>
        {% if not user.is_authenticated %}
            <a href="connexion"><button class="btn-slogan">Commencer</button></a>
        {% elif conditions_termes %}
            <a href="tableau-bord/page-principale"><button class="btn-slogan">Commencer</button></a>
        {% else %}
            <a href="questionnaire"><button class="btn-slogan">Commencer</button></a>
        {% endif %}
    </div>
      <div id="lottie-container4" class="lottie-container-presentation"></div>
                <script>
                    var animation = lottie.loadAnimation({
                        container: document.getElementById('lottie-container4'),
                        renderer: 'svg',
                        loop: true,
                        autoplay: true,
                        path: "{% static 'json/Growth Analysis (2).json' %}"
                    });
                </script>

      <div class="shadow" id="shadow2"></div>
  </section>

    <section class="nova">
        <h1> NOVA </h1>
        <div class="nova-infos">

            <div class="description_Nova">

            <h2>Votre assistant financier 24/7</h2>

            <h3>Gardez le contrôle de votre argent avec Nova, le chatbot intelligent conçu pour
                simplifier votre gestion financière. Obtenez des conseils de budgétisation en temps réel,
                suivez vos dépenses, recevez des recommandations d'épargne personnalisées et accédez
                rapidement à des réponses à vos questions financières, le tout en un seul endroit.
                Nova est là pour vous aider, à tout moment et où que vous soyez !</h3>

                {% if user.is_authenticated %}
                    <a href="tableau-bord/chatbot"><button class="chat-btn">Discuter avec Nova</button></a>
                {% else %}
                    <a href=""><button class="chat-btn">Discuter avec Nova</button></a>
                {% endif %}
        </div>
            <div class="bot_img">
                <img src="{% static 'images/call-center-7040784 1.svg' %}" alt="chatbot image description">
            </div>
        </div>
    </section>


   <section class="education">
    <div class="education-infos">
        <div class="education-text">
            <h1>ÉDUCATION FINANCIÈRE</h1>
            <h2>
                Améliorez votre compréhension de l’argent avec des ressources claires et accessibles.
                De la gestion budgétaire aux stratégies d’investissement, notre espace Éducation Financière
                vous guide pour faire des choix éclairés et sécuriser votre avenir financier.
            </h2>
        </div>
    </div>
    <img src="{% static 'images/educationIMG.png' %}" alt="Logo Graphique Page2">
</section>


    <section class="outils">
        <h1>OUTILS FINANCIERS</h1>
        <div class="outils-infos">
            <div class="info" id="info1">
                <h2>Simulateur</h2>
                <h2>Financier Anticipez Vos Finances</h2>
                <h3>Faites des choix éclairés avec notre simulateur financier. Estimez votre budget, vos économies ou
                    vos investissements en quelques clics et prenez le contrôle de votre avenir financier dès maintenant.</h3>
                <div id="lottie-container1" class="lottie-container-outils"></div>
                <script>
                    var animation = lottie.loadAnimation({
                        container: document.getElementById('lottie-container1'),
                        renderer: 'svg',
                        loop: true,
                        autoplay: true,
                        path: "{% static 'json/Rocket_custom_icon.json' %}"
                    });
                </script>
            </div>
            <div class="info" id="info2">
                <h2>Suivi Financier</h2>
                <h2>Gardez le Contrôle de Votre Argent</h2>
                <h3>Suivez vos revenus, dépenses et objectifs financiers en temps réel. Avec notre outil de suivi financier, visualisez vos finances en un coup d’œil et optimisez votre gestion au quotidien.</h3>
                <div id="lottie-container2" class="lottie-container-outils"></div>
                <script>
                    var animation = lottie.loadAnimation({
                        container: document.getElementById('lottie-container2'),
                        renderer: 'svg',
                        loop: true,
                        autoplay: true,
                        path: "{% static 'json/Compass_custom_icon.json' %}"
                    });
                </script>
            </div>
            <div class="info" id="info3">
                <h2>Bourse</h2>
                <h2>Investissez en Toute Confiance</h2>
                <h3>Suivez les marchés, analysez les tendances et prenez des décisions éclairées. Avec notre outil Bourse, accédez à des informations en temps réel pour optimiser vos investissements.</h3>
                <div id="lottie-container3" class="lottie-container-outils"></div>
                <script>
                    var animation = lottie.loadAnimation({
                        container: document.getElementById('lottie-container3'),
                        renderer: 'svg',
                        loop: true,
                        autoplay: true,
                        path: "{% static 'json/Analytics_custom_icon.json' %}"
                    });
                </script>
            </div>
        </div>
    </section>

  <footer>

    <div class="footer-logoNova">
        <div>
            <a href=""><img src="{% static 'images/Logo EcoNova.png' %}" alt="Logo ÉcoNova Finance"
                            class="logoFooter"></a>
            <h1>NOVA – Votre gestion financière, aussi simple qu'un clic !</h1>
        </div>

        <h3>Avec NOVA, Naviguez facilement entre outils de suivi et simulations, Optimisez vos finances,
            développez une Vision stratégique et profitez d’un Accompagnement personnalisé.
            Budget, épargne, investissement : maîtrisez votre avenir financier en toute confiance.</h3>
    </div>
    <!-- Liste verticale alignée à droite -->
    {% if user.is_authenticated %}
            <div class="liste-onglets">
                <ul>
                    <h2><a href="">Simulateur</a></h2>
                    <h2><a href="">Suivi Financier</a></h2>
                    <h2><a href="tableau-bord/bourse">Bourse</a></h2>
                    <h2><a href="tableau-bord/chatbot">Nova</a></h2>
                    <h2><a href="">Éducation Financière</a></h2>
                    <a href="deconnexion"><button class="connexion">Se déconnecter</button></a>
                </ul>
            </div>
        {% else %}
            <div class="liste-onglets">
                <ul>
                    <h2><a href="">Simulateur</a></h2>
                    <h2><a href="">Suivi Financier</a></h2>
                    <h2><a href="">Bourse</a></h2>
                    <h2><a href="">Nova</a></h2>
                    <h2><a href="">Éducation Financière</a></h2>
                    <a href="connexion"><button class="connexion">Connexion</button></a>
                </ul>
            </div>
        {% endif %}

    <div class="shadow" id="shadow3"></div>
  </footer>


    <section class="copyrights">
        <h3>© 2025 NOVA. Tous droits réservés.</h3>
        <h3> Créé par Micheal Gyan, Gabriel-Ngoma Riendeau, Samy Baouche, Mohammed El Ouaabani et Nancy Bechara.</h3>


        <div class="sources-animation" >
        <h3>Icons by https://unicornicons.com</h3>
            <a href="https://iconscout.com/lottie-animations/growth-analysis" class="text-underline font-size-sm"
               target="_blank">Growth Analysis</a> by <a href="https://iconscout.com/contributors/nanoagency" class="text-underline font-size-sm">
            nanoagency</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>
        </div>

    </section>


    <script src="{% static "js/app.js" %}"></script>
</body>


</html>

