{% load static %}
<link rel="stylesheet" href="{% static 'css/suivi-financier.css' %}">

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tableau de bord des revenus</title>
    <!-- Inclure Chart.js depuis un CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Tableau de bord des revenus mensuels</h1>

    <!-- Formulaire pour saisir les revenus mensuels -->
    <div>
        <h2>Ajouter un revenu</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Soumettre le revenu</button>
        </form>
    </div>

    <!-- Conteneur du graphique -->
    <div class="chart-container">
    <h2>Graphique des revenus</h2>
    <canvas id="revenueChart" width="900" height="500"></canvas>
    </div>

    <script>
        // Analyser les données JSON du graphique passées depuis la vue
        var chartData = {{ chart_data|safe }};
        var ctx = document.getElementById('revenueChart').getContext('2d');
        var revenueChart = new Chart(ctx, {
            type: 'line',  // Changez le type de graphique si nécessaire (par exemple, 'bar', 'line')
            data: {
                labels: chartData.labels,
                datasets: [{
                    label: 'Revenu',
                    data: chartData.values,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    lineTension:0.1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    <form method="get" action="{% url 'suivi-financier' %}">
        <button type="submit" name="clear_revenue" value="true">Effacer tous les revenus</button>
    </form>
</body>
</html>