body {
    background: #212121;
    color: white;
}


/*PAGE DE PRÉSENTATION*/
.shadow{
    width: 90vw;
    height: 230px;
    position: absolute;
    background-color: #D9D9D9;
}
#shadow1{
    top: -100%;
    filter: blur(600px);
}
#shadow2{
    bottom: -100%;
    filter: blur(600px);
}
.presentation {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    height: 110vh;
    width: 100%;
    padding: 0 54px;
    background-color: #2B2B2B;
    overflow: hidden;

}
.logoSlogan{
    width: 70vw;
    height: auto;
    position: absolute;
    right: 0;
    top: 60px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.slogan {
    width: 600px; /* Réduit la largeur */
    text-align: left; /* Alignement à gauche */
    padding: 10px;
    font-size: 65px;
    .btn-slogan{
        background: rgb(43,43,43);
        color: white;
        border-radius: 25px;
        font-size: 15px;
        height: 45px;
        width: 130px;
        cursor: pointer;
        border: 2px solid white;
        transition: 0.1s ease-in-out;
    }
    .btn-slogan:hover{
        background-color: #FE66C4;
        color: white;
    }

}
/*DESCRIPTION CHATBOT*/
.nova{
    height: 100vh;
    width: 100%;
    padding: 0 54px;
    background-color: #212121;

}

/*EDUCATION FINANCIERE*/
.education{
    height: 480px;
    width: 100%;
    background-color: #212121;
    .education-infos{
        transform: translateX(-85px);
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 25px;
        img{
            height: 100%;
            transform: translateX(85px);
            align-self: flex-end;

        }
    }
}
/*OUTILS FINANCIERS*/
.outils{
    background: #212121;
    padding: 250px 81px;
    .outils-infos{
        height: 600px;
        width: 100%
    }
}

/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #2B2B2B;
    height: 573px;
    width: 100%;
    padding: 0 54px;
    overflow: hidden;
}
#shadow3{
    bottom: -100%;
    filter: blur(400px);
}
/*COPYRIGHTS*/
.copyrights {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background-color: #212121;
    color: white;
    font-size: 15px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}