body {
    background: rgb(43, 43, 43);
    font-family: 'Poppins', sans-serif; /* Appliquer la police Poppins à tout le corps */
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 4000px;
}

.header {
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: space-between; /* Espace entre tous les éléments */
    align-items: center;
    padding: 0 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.menu-btn {
    color: white;
    border-radius: 25px;
    font-size: 40px; /* Taille des barres */
    height: 55px;
    width: 75px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px; /* Espacement entre le bouton et le logo */
    font-weight: bold;
}

.logoSite {
    width: 200px; /* Taille de l'images */
    height: auto;
    margin-left: 20px; /* Déplacer légèrement l'images vers la droite */
}

.econova-text {
    font-size: 45px;
    font-weight: 600; /* Poids plus élevé pour le texte */
    margin-left: 5px; /* Espacement entre le logo et le texte */
    letter-spacing: 1px; /* Espacement entre les lettres pour un effet plus élégant */
}

.buttons {
    display: flex;
    gap: 15px;
    margin-left: auto; /* Alignement des boutons à droite */
    margin-right: 30px; /* Ajuster si nécessaire */
    align-items: center;
}

button {
    background: rgb(43,43,43);
    color: white;
    border-radius: 25px;
    font-size: 15px;
    height: 45px;
    width: 130px;
    cursor: pointer;
    border: 2px solid white;
}


.slogan {
    width: 100%; /* Réduit la largeur */
    height: 700px;
    text-align: left; /* Alignement à gauche */
    padding: 10px;
    font-size: 50px;
    margin-left: 50px;
    margin-top: 300px;
    display: flex;
    flex-direction: row;
}

.slogan-text {
    width: 30%;
    height: 75%;
    margin-top: 50px;
}
.logoSlogan {
    width: 70%; /* Réduit la largeur */
    height: auto;
    margin-right: 100px;
}